<%-include('../layouts/admin/header')-%>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    </head>

    <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

        <script src="/assets/admin/js/hs.theme-appearance.js"></script>

        <script
            src="/assets/admin/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js"></script>

        <%-include('../layouts/admin/navbar')-%> </header>


        <main id="content" role="main" class="main">
            <!-- Content -->
            <div class="content container-fluid">
                <div class="card text-center">
                    <h2 class="card-header">Coupons</h2>

                    <div class="d-flex justify-content-end">

                        <div class="col-sm-auto m-3">
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#addCouponModal">Add
                                Coupon</a>
                        </div>
                        <!-- End Dropdown -->
                    </div>

                    <!-- Table -->
                    <div class="table-responsive datatable-custom position-relative">
                        <table class="table table-bordered text-center" id="tableReload">
                            <thead class="thead-light"">
                                <tr>

                                        <th>Coupon ID</th>
                                        <th>Discount</th>
                                        <th>Background image</th>
                                        <th>Description</th>
                                        <th>Activation</th>
                                        <th>Expiry Date</th>
                                        <th>Min purchase amount</th>
                                        <th></th>

                                </tr>
                            </thead>
        
                            <tbody class=" text-center">
                                 <% coupons.forEach(coupon =>{  %>
                                <tr class=" text-center ">
                                    <td class=" border-0">
                                <%= coupon.couponId %>
                                    </td>
                                    <td class="border-0">
                                        <%= coupon.discountPercentage %>%
                                    </td>
                                    <td class="border-0 table-column-ps-0 d-flex justify-content-center">
                                        <a class="d-flex align-items-center" href="ecommerce-product-details.html">
                                            <div class="flex-shrink-0">
                                                <img class="avatar avatar-lg"
                                                    src="/assets/couponBgImages/<%= coupon.bgImage %>"
                                                    alt="Image Description">
                                            </div>
                                        </a>
                                    </td>
                                    <td class="border-0">
                                        <%= coupon.description %>
                                    </td>
                                    <td class="border-0 d-flex align-items-center">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox"
                                                onclick="showConfirmationModal('<%= coupon._id %>')"
                                                id="CouponCheckbox<%= coupon._id %>" <% if(coupon.isActive==true) {
                                                %>checked<% } %>>
                                        </div>
                                    </td>
                                    <td class="border-0">
                                        <%= coupon.expiryDate %>
                                    </td>
                                    <td class="border-0">RS: <%= coupon.minPurcahaseAmount %>
                                    </td>
                                    <td class="border-0">
                                        <div class="btn-group" role="group">
                                            <a href="#" class=""
                                                onclick="showEditCouponModal('<%= coupon.couponId %>','<%= coupon.description %>','<%= coupon.discountPercentage %>','<%= coupon.bgImage %>', '<%= coupon.expiryDate %>','<%= coupon.minPurcahaseAmount %>','<%= coupon._id %>')">
                                                <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i> Edit
                                            </a>
                                        </div>
                                    </td>
                                    </tr>

                                    <% });%>
                                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <!-- ----------------Add coupon modal----------------- -->
        <div class="modal fade" id="addCouponModal" tabindex="-1" role="dialog" aria-labelledby="addCouponModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Add
                            Coupon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body m-3 p-0">

                        <form method="POST" id="couponForm" class="m-3" enctype="multipart/form-data">
                            <div class="row justify-content-center">
                                <div class="col-md-6 p-6 d-flex justify-content-center flex-column"
                                    style="text-align:-webkit-center; border: 1px solid #ccc;">
                                    <label for="couponImage" style="cursor: pointer;">
                                        <img src="/assets/images/icons/imageUploader.png" alt="" class="img-fluid"
                                            id="imagePreview">
                                        <p>Upload coupon background image</p>
                                    </label>
                                    <input type="file" id="couponImage" name="couponImage" style="display: none;"
                                        onchange="previewImage()">

                                </div>
                                <div class="row mt-4 p-0">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label for="couponId">
                                                <h6>Coupon ID</h6>
                                            </label>
                                            <input type="text" class="form-control" id="couponId" name="couponId"
                                                placeholder="Enter Coupon ID" maxlength="10">
                                            <p class="text-danger" id="couponIdError"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="discount">
                                                <h6>Discount %</h6>
                                            </label>
                                            <input type="number" class="form-control" id="discount" name="discount"
                                                placeholder="Enter Discount %">
                                            <p class="text-danger" id="discountError"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row p-0">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label for="expiryDate">
                                                <h6>Expiry Date</h6>
                                            </label>
                                            <input type="date" class="form-control" id="expiryDate" name="expiryDate"
                                                placeholder="Enter Expiry Date">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label for="minPurchaseAmount">
                                                <h6>Min Purchase Amount</h6>
                                            </label>
                                            <input type="number" class="form-control" id="minPurchaseAmount"
                                                name="minPurchaseAmount" placeholder="Enter Min Purchase Amount">
                                            <p class="text-danger" id="minPurchaseAmountError"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <label for="">Description</label>
                                        <input name="description" class="form-control" type="text"
                                            placeholder="only contain 45 characters">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" onclick="" class="btn btn-primary mt-2">Add coupon </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- ----------------Edit coupon modal----------------- -->
        <div class="modal fade" id="editCouponModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Edit
                            Coupon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body m-3 p-0">

                        <form id="EditCouponForm" class="m-3" enctype="multipart/form-data">
                            <div class="row justify-content-center">
                                <div class="col-md-6 p-6 d-flex justify-content-center flex-column"
                                    style="text-align:-webkit-center; border: 1px solid #ccc;">
                                    <label for="couponImage" style="cursor: pointer;">
                                        <img alt="Selected Image" class="img-fluid" id="imagePreview">
                                        <p>Upload coupon background image</p>
                                    </label>
                                    <input type="file" id="couponImage" name="couponImage"
                                        onchange="previewEditImage('couponImage', 'imagePreview')">
                                </div>

                                <div class="row mt-4 p-0">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label for="couponId">
                                                <h6>Coupon ID</h6>
                                            </label>
                                            <input type="text" class="form-control" id="couponId" name="couponId"
                                                placeholder="Enter Coupon ID" maxlength="10">
                                            <p class="text-danger" id="couponIdError"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="discount">
                                                <h6>Discount %</h6>
                                            </label>
                                            <input type="number" class="form-control" id="discount" name="discount"
                                                placeholder="Enter Discount %">
                                        </div>
                                    </div>
                                </div>

                                <div class="row p-0">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label for="expiryDate">
                                                <h6>Expiry Date</h6>
                                            </label>
                                            <input type="date" class="form-control" id="expiryDate" name="expiryDate"
                                                placeholder="Enter Expiry Date">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label for="minPurchaseAmount">
                                                <h6>Min Purchase Amount</h6>
                                            </label>
                                            <input type="number" class="form-control" id="minPurchaseAmount"
                                                name="minPurchaseAmount" placeholder="Enter Min Purchase Amount">
                                        </div>
                                    </div>

                                    <input type="text" class="d-none" id="coupon_id" name="coupon_id">

                                    <div class="col-md-12 ">
                                        <label for="">Description</label>
                                        <input id="description" name="description" class="form-control" type="text"
                                            placeholder="only contain 45 characters">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" onclick="" class="btn btn-primary mt-2">Save changes</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!--Confirmation Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to hide ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="confirmHideCoupon()">Hide</button>
                    </div>
                </div>
            </div>x
        </div>

        <div id="notification-container"></div>

        <!-- Hide and show coupons -->
        <script>
            function showConfirmationModal(couponId) {
                $('#confirmationModal').data('couponId', couponId);
                $('#confirmationModal').modal('show');
            }

            function confirmHideCoupon() {
                const couponId = $('#confirmationModal').data('couponId');

                if (document.getElementById(`CouponCheckbox${couponId}`).checked) {
                    console.log("show");
                    toggleCoupon(couponId, 'show');
                } else {
                    console.log("hide");
                    toggleCoupon(couponId, 'hide');
                }

                $('#confirmationModal').modal('hide');
            }

            function toggleCoupon(couponId, action) {
                fetch(`/admin/couponActivation`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ couponId, action }),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data  );
                        if (data.success) {
                            showNotification( data.message, true);
                        } else {
                            showNotification(data.message, false);
                        }
                    })
                    .catch(error => console.error('Error toggling coupon:', error));
            }
        </script>

        <!-- Send data to Edit coupon modal  -->
        <script>
            function showEditCouponModal(couponId, description, discountPercentage, bgImage, expiryDate, minPurchaseAmount, coupon_id) {
                var form = document.getElementById('EditCouponForm');
                form.querySelector('#couponId').value = couponId;
                form.querySelector('#description').value = description;
                form.querySelector('#discount').value = discountPercentage;
                form.querySelector('#expiryDate').value = expiryDate;
                form.querySelector('#minPurchaseAmount').value = minPurchaseAmount;
                form.querySelector('#coupon_id').value = coupon_id;

                var imagePreview = form.querySelector('#imagePreview');
                imagePreview.src = "/assets/couponBgImages/" + bgImage;

                // Show the modal
                $('#editCouponModal').modal('show');

                // ------------for Edit coupon-----------
                document.getElementById('EditCouponForm').addEventListener('submit', async function (event) {
                    event.preventDefault();

                    const form = event.target;
                    const formData = new FormData(form);

                    const response = await fetch('/admin/editCoupon', {
                        method: "PATCH",
                        body: formData,
                    });

                    const result = await response.json();
                    if (result.success) {
                        $('#tableReload').load('/admin/coupons #tableReload', function () {
                            $('#couponForm').load('/admin/coupons #couponForm', function () {
                                $('#editCouponModal').modal('hide');
                            });
                        });
                        showNotification("Coupon edited successfully", true);
                    } else {
                        showNotification("Coupon edited failed", false);
                    }
                });  // <-- Place the closing brace here
            }

            function previewEditImage(inputId, previewId) {
                var imagePreview = document.getElementById(previewId);
                var couponImageInput = document.getElementById(inputId);

                if (couponImageInput.files.length > 0) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                    };
                    reader.readAsDataURL(couponImageInput.files[0]);
                }
            }
        </script>

        <!-- Disable previous days in calendar -->
        <script>
            window.onload = function () {
                var today = new Date().toISOString().split('T')[0];
                document.getElementById('expiryDate').setAttribute('min', today);
            };
        </script>


        <!-- ADD COUPON MODAL AND SEND REQUEST -->
        <script>
            $('#addCouponModal form').submit(function (event) {
                event.preventDefault();

                const formData = new FormData(this);

                $.ajax({
                    url: '/admin/addCoupon',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.success) {
                            $('#tableReload').load('/admin/coupons #tableReload', function () {
                                $('#couponForm').load('/admin/coupons #couponForm', function () {
                                    $('#addCouponModal').modal('hide');
                                });
                            });
                            showNotification("Coupon added successfully", true);
                        } else {
                            showNotification("Coupon added failed", false);
                        }
                    },
                    error: function (error) {
                        console.log(error.message);
                    }
                });

            });

            // Image added to coupon modal
            function previewImage() {
                var imagePreview = document.getElementById('imagePreview');
                var couponImageInput = document.getElementById('couponImage');

                if (couponImageInput.files.length > 0) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                    };
                    reader.readAsDataURL(couponImageInput.files[0]);
                }
            }

            // showing notification
            function showNotification(message, success = true) {
                const notificationContainer = document.getElementById('notification-container');
                notificationContainer.innerHTML = message;

                if (success) {
                    notificationContainer.style.color = 'green';
                } else {
                    notificationContainer.style.color = 'red';
                }

                notificationContainer.style.display = 'block';

                setTimeout(() => {
                    notificationContainer.style.display = 'none';
                }, 3000);
            }

        </script>



   
        <%-include('../layouts/admin/footer')-%>