<%-include('../layouts/admin/header')-%>


    <link rel="shortcut icon" href="favicon.ico">
    <!-- <link rel="stylesheet" href="/assets/admin/css/theme-dark.min.css" data-hs-current-theme="stylesheet"> -->
    </head>

    <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">


        <script
            src="/assets/admin/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js"></script>

        <%-include('../layouts/admin/navbar')-%>


            <main id="content" role="main" class="main">
                <!-- Content -->
                <div class="bg-dark">
                    <div class="content container-fluid"
                        style="height: 25rem; background: linear-gradient(to right, #2ac094, #0c3e9e);">
                        <!-- Page Header -->
                        <div class="page-header page-header-light">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h1 class="page-header-title">Dashboard</h1>
                                </div>
                                <!-- End Col -->

                                <div class="col-auto">
                                    <!-- Daterangepicker -->
                                    <button id="js-daterangepicker-predefined"
                                        class="btn btn-ghost-light btn-sm dropdown-toggle">
                                        <i class="bi-calendar-week"></i>
                                        <span class="js-daterangepicker-predefined-preview ms-1"></span>
                                    </button>
                                    <!-- End Daterangepicker -->
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->

                            <!-- Nav Scroller -->
                            <div class="js-nav-scroller hs-nav-scroller-horizontal">
                                <span class="hs-nav-scroller-arrow-prev hs-nav-scroller-arrow-dark-prev"
                                    style="display: none;">
                                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                                        <i class="bi-chevron-left"></i>
                                    </a>
                                </span>

                                <span class="hs-nav-scroller-arrow-next hs-nav-scroller-arrow-dark-next"
                                    style="display: none;">
                                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                                        <i class="bi-chevron-right"></i>
                                    </a>
                                </span>

                                <!-- Nav -->
                                <ul class="nav nav-tabs nav-tabs-light page-header-tabs" id="pageHeaderTab"
                                    role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript:;">Overview</a>
                                    </li>
                                </ul>
                                <!-- End Nav -->
                            </div>
                            <!-- End Nav Scroller -->
                        </div>
                        <!-- End Page Header -->
                    </div>
                </div>
                <!-- End Content -->

                <!-- Content -->
                <div class="content container-fluid" style="margin-top: -17rem;">
                    <!-- Card -->
                    <div class="card mb-3 mb-lg-5">
                        <!-- Header -->
                        <div class="card-header card-header-content-sm-between">
                            <h4 class="card-header-title mb-2 mb-sm-0">SALES GRAPHS</h4>

                            <!-- Nav -->
                            <ul class="nav nav-segment nav-fill" id="projectsTab" role="tablist">
                                <li class="nav-item" data-bs-toggle="chart" data-datasets="1" data-trigger="click"
                                    data-action="toggle">
                                    <a class="nav-link" href="javascript:;" data-bs-toggle="tab"
                                        onclick="updateLabels('weekly')">Weekly</a>
                                </li>
                                <li class="nav-item" data-bs-toggle="chart" data-datasets="0" data-trigger="click"
                                    data-action="toggle">
                                    <a class="nav-link active" href="javascript:;" data-bs-toggle="tab"
                                        onclick="updateLabels('monthly')">Monthly</a>
                                </li>
                                <li class="nav-item" data-bs-toggle="chart" data-datasets="1" data-trigger="click"
                                    data-action="toggle">
                                    <a class="nav-link" href="javascript:;" data-bs-toggle="tab"
                                        onclick="updateLabels('yearly')">Yearly</a>
                                </li>
                            </ul>
                            <!-- End Nav -->
                        </div>
                        <!-- End Header -->

                        <!-- Body -->
                        <div class="card-body">
                            <div class="row align-items-sm-center mb-4">

                                <!-- End Col -->

                                <div class="col-sm-auto">
                                    <!-- Legend Indicators -->
                                    <div class="row fs-6">
                                        <div class="col-auto">
                                            <span class="legend-indicator bg-primary"></span> Orders
                                        </div>
                                        <div class="col-auto">
                                            <span class="legend-indicator bg-info"></span> Income
                                        </div>
                                    </div>
                                    <!-- End Legend Indicators -->
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->

                            <!-- Bar Chart -->
                            <div class="chartjs-custom" style="height: 18rem;">
                                <canvas id="updatingLineChart" data-hs-chartjs-options='{
                              "type": "line",
                              "data": {
                                 "labels": ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                                 "datasets": [{
                                  "backgroundColor": ["rgba(55,125,255, .5)", "rgba(255, 255, 255, .2)"],
                                  "borderColor": "#377dff",
                                  "borderWidth": 2,
                                  "pointRadius": 0,
                                  "hoverBorderColor": "#377dff",
                                  "pointBackgroundColor": "#377dff",
                                  "pointBorderColor": "#fff",
                                  "pointHoverRadius": 0,
                                  "tension": 0.4
                                },
                                {
                                  "backgroundColor": ["rgba(0, 201, 219, .5)", "rgba(255, 255, 255, .2)"],
                                  "borderColor": "#00c9db",
                                  "borderWidth": 2,
                                  "pointRadius": 0,
                                  "hoverBorderColor": "#00c9db",
                                  "pointBackgroundColor": "#00c9db",
                                  "pointBorderColor": "#fff",
                                  "pointHoverRadius": 0,
                                  "tension": 0.4
                                }]
                              },
                              "options": {
                                "gradientPosition": {"y1": 200},
                                 "scales": {
                                    "y": {
                                      "grid": {
                                        "color": "#e7eaf3",
                                        "drawBorder": false,
                                        "zeroLineColor": "#e7eaf3"
                                      },
                                      "ticks": {
                                        "min": 0,
                                        "max": 100,
                                        "stepSize": 200,
                                        "fontColor": "#97a4af",
                                        "fontFamily": "Open Sans, sans-serif",
                                        "padding": 10,
                                        "postfix": ""
                                      }
                                    },
                                    "x": {
                                      "grid": {
                                        "display": false,
                                        "drawBorder": false
                                      },
                                      "ticks": {
                                        "fontSize": 12,
                                        "fontColor": "#97a4af",
                                        "fontFamily": "Open Sans, sans-serif",
                                        "padding": 5
                                      }
                                    }
                                },
                               
                                "plugins": {
                                  "tooltip": {
                                    "prefix": "",
                                    "postfix": "",
                                    "hasIndicator": true,
                                    "mode": "index",
                                    "intersect": false,
                                    "lineMode": true,
                                    "lineWithLineColor": "rgba(19, 33, 68, 0.075)"
                                  }
                                },
                                "hover": {
                                  "mode": "nearest",
                                  "intersect": true
                                }
                              }
                            }'>
                                </canvas>
                            </div>
                            <!-- End Bar Chart -->
                        </div>

                        <!-- Card Footer -->
                        <a class="card-footer text-center" href="projects.html">
                            View all projects <i class="bi-chevron-right"></i>
                        </a>
                        <!-- End Card Footer -->
                    </div>
                    <!-- End Card -->

                    <div class="row">
                        <div class="col-lg-4 mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card h-100">
                                <!-- Header -->

                                <!-- End Header -->

                                <!-- Body -->
                                <div class="card-body text-center">
                                    <!-- Badge -->
                                    <div class="h3">
                                        <span class="badge bg-soft-info text-info rounded-pill">
                                            <i class="bi-check-circle-fill me-1"></i> On track
                                        </span>
                                    </div>
                                    <!-- End Badge -->

                                       

                                   
                                   
                                    <!-- Chart Half -->
                                    <div class="chartjs-doughnut-custom" style="height: 12rem;">
                                        <canvas id="doughnutHalfChart" class="js-chartjs-doughnut-half"
                                        data-hs-chartjs-options='{
                                            "type": "doughnut",
                                            "data": {
                                                "labels": ["Cash on Delivery", "Online payment", "Wallet"],
                                                "datasets": [{
                                                    "data": [<%= PaymentMethodPercentages.map(method => method[Object.keys(method)[0]]).join(',') %>],
                                                    "backgroundColor": ["#377dff", "#00c9db", "rgba(55,125,255,.35)"],
                                                    "borderWidth": 4,
                                                    "borderColor": "#fff",
                                                    "hoverBorderColor": "#ffffff"
                                                }]
                                            }
                                        }'></canvas>
                            

                                        <div class="chartjs-doughnut-custom-stat">
                                            <small class="text-cap">Total Shop Revenue</small>
                                            <span class="h1">₹<%=totalDeliveredAmount%></span>
                                        </div>
                                    </div>
                                    <!-- End Chart Half -->
                                </div>
                                <!-- End Body -->
                            </div>
                            <!-- End Card -->
                        </div>

                        <div class="col-lg-8 mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card h-100">
                                <!-- Header -->
                                <div class="card-header card-header-content-between">
                                    <h4 class="card-header-title">Recent placed orders</h4>

                                </div>
                                <!-- Body -->
                                <div>
                                    <table class="w-100" >
                                    <thead class="thead-light">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
        
        
        
                                    <tbody>
                                        <% latestPlacedOrders.forEach(order => { %>
                                            <tr class="d-flex justify-content-between align-items-center">
                                                <td class="">
                                                    <div class="avatar avatar-circle m-3" style="height: 60px; width: 60px;">
                                                        <img class="w-100 rounded" src="/assets/productImages/uploadImages/<%= order.orderedProducts[0].productDetails.productImage %>"
                                                         alt="Product Image">
                                                    </div>
                                                    <p class="d-inline">
                                                        <%= order.orderedProducts[0].productDetails.name %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <%= order.userName %>
                                                </td>
                                                <td>
                                                    <%= order.purchaseTime %>
                                                </td>
                                                <td>
                                                    <%= order.shipAddress[0].city %>, <br>
                                                    <%= order.shipAddress[0].zipcode %>
                                                </td>
                                                <td>
                                                    <span class="badge bg-soft-success text-success rounded-pill"> <%= order.orderedProducts[0].status %></span>
                                                   
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
        
        
                                </table>
                            </div>
                                <!-- End Body -->
                            </div>
                            <!-- End Card -->
                        </div>
                    </div>
                </div>


            </main>

            <!-- JS Implementing Plugins -->
            <script src="/assets/admin/js/vendor.min.js"></script>

            <script src="/assets/admin/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>

            <!-- JS Front -->
            <script src="/assets/admin/js/theme.min.js"></script>


            <!-- Manage Monthly and Yearly -->
            <script>
                function updateLabels(timeframe) {
                    const chart = Chart.getChart("updatingLineChart");

                    if (timeframe === "monthly") {
                        chart.data.labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                    } else if (timeframe === "yearly") {
                        chart.data.labels = ["2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024"];
                    } else if (timeframe === "weekly") {
                        chart.data.labels = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
                    }

                    chart.update();
                }
            </script>





            <script>

                $(document).on('ready', function () {
                    // INITIALIZATION OF DATERANGEPICKER
                    // =======================================================
                    $('.js-daterangepicker').daterangepicker();

                    $('.js-daterangepicker-times').daterangepicker({
                        timePicker: true,
                        startDate: moment().startOf('hour'),
                        endDate: moment().startOf('hour').add(32, 'hour'),
                        locale: {
                            format: 'M/DD hh:mm A'
                        }
                    });

                    var start = moment();
                    var end = moment();

                    function cb(start, end) {
                        $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
                    }

                    $('#js-daterangepicker-predefined').daterangepicker({
                        startDate: start,
                        endDate: end,
                        ranges: {
                            'Today': [moment(), moment()],
                            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        }
                    }, cb);

                    cb(start, end);
                });
            </script>
            <script>
                (function () {
                    window.onload = function () {
                        // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                        // =======================================================
                        new HSSideNav('.js-navbar-vertical-aside').init()

                        // INITIALIZATION OF NAV SCROLLER
                        // =======================================================
                        new HsNavScroller('.js-nav-scroller', {
                            delay: 400
                        })

                        // INITIALIZATION OF FORM SEARCH
                        // =======================================================
                        new HSFormSearch('.js-form-search')

                        // INITIALIZATION OF BOOTSTRAP DROPDOWN
                        // =======================================================
                        HSBsDropdown.init()

                        // Fetch data from the server
                        fetch('/admin/graphDetails')
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);


                                const monthlySales = data.monthlySales;
                                const monthlyOrders = data.monthlyOrders;
                                const yearlySales = data.yearlySales;
                                const yearlyOrders = data.yearlyOrders;
                                const weeklySales = data.weeklySales;
                                const weeklyOrders = data.weeklyOrders;

                                var updatingChartDatasets = [
                                    monthlyOrders.map(item => item.totalOrders),
                                    monthlySales.map(item => item.total),
                                    yearlyOrders.map(item => item.totalOrders),
                                    yearlySales.map(item => item.total),
                                    weeklyOrders.map(item => item.totalOrders),
                                    weeklySales.map(item => item.total),
                                ];

                                // INITIALIZATION OF CHARTJS
                                // =======================================================
                                HSCore.components.HSChartJS.init(document.querySelector('#updatingLineChart'), {
                                    data: {
                                        datasets: [
                                            {
                                                data: updatingChartDatasets[0] 
                                            },
                                            {
                                                data: updatingChartDatasets[1] 
                                            }
                                        ]
                                    }
                                })

                                 HSCore.components.HSChartJS.init(document.querySelector('.js-chartjs-doughnut-half'), {
                            options: {
                                plugins: {
                                    tooltip: {
                                        postfix: "%"
                                    }
                                },
                                cutout: '85%',
                                rotation: '270',
                                circumference: '180'
                            }
                            });   

                                const updatingLineChart = HSCore.components.HSChartJS.getItem(0)

                                let selectedDataset = 0; 

                                document.querySelectorAll('[data-bs-toggle="chart"]')
                                    .forEach($item => {
                                        $item.addEventListener('click', e => {
                                            selectedDataset = parseInt(e.currentTarget.getAttribute('data-datasets'), 10);

                                            updatingLineChart.data.datasets.forEach((dataset, key) => {
                                                dataset.data = updatingChartDatasets[selectedDataset * 2 + key]; 
                                            });

                                            updatingLineChart.update();
                                        })
                                    })
                            })
                            .catch(error => console.error('Error fetching data:', error));
                    }
                })()
            </script>





            <%-include('../layouts/user/footer')-%>