<%-include('../layouts/admin/header')-%>
    </head>

    <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">

        <script src="/assets/admin/js/hs.theme-appearance.js"></script>

        <script
            src="/assets/admin/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside-mini-cache.js"></script>

        <%-include('../layouts/admin/navbar')-%>

            <main id="content" role="main" class="main">
                <!-- Content -->
                <div class="content container-fluid">

                    <!-- Stats -->
                    <div class="row">
                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2">Total users</h6>

                                    <div class="row align-items-center gx-2">
                                        <div class="col">
                                            <span class="js-counter display-4 text-dark">24</span>
                                            <span class="text-body fs-5 ms-1">from 22</span>
                                        </div>
                                        <!-- End Col -->

                                        <div class="col-auto">
                                            <span class="badge bg-soft-success text-success p-1">
                                                <i class="bi-graph-up"></i> 5.0%
                                            </span>
                                        </div>
                                        <!-- End Col -->
                                    </div>
                                    <!-- End Row -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>

                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2">Active members</h6>

                                    <div class="row align-items-center gx-2">
                                        <div class="col">
                                            <span class="js-counter display-4 text-dark">12</span>
                                            <span class="text-body fs-5 ms-1">from 11</span>
                                        </div>

                                        <div class="col-auto">
                                            <span class="badge bg-soft-success text-success p-1">
                                                <i class="bi-graph-up"></i> 1.2%
                                            </span>
                                        </div>
                                    </div>
                                    <!-- End Row -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>

                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2">New/returning</h6>

                                    <div class="row align-items-center gx-2">
                                        <div class="col">
                                            <span class="js-counter display-4 text-dark">56</span>
                                            <span class="display-4 text-dark">%</span>
                                            <span class="text-body fs-5 ms-1">from 48.7</span>
                                        </div>

                                        <div class="col-auto">
                                            <span class="badge bg-soft-danger text-danger p-1">
                                                <i class="bi-graph-down"></i> 2.8%
                                            </span>
                                        </div>
                                    </div>
                                    <!-- End Row -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>

                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2">Active members</h6>

                                    <div class="row align-items-center gx-2">
                                        <div class="col">
                                            <span class="js-counter display-4 text-dark">28.6</span>
                                            <span class="display-4 text-dark">%</span>
                                            <span class="text-body fs-5 ms-1">from 28.6%</span>
                                        </div>

                                        <div class="col-auto">
                                            <span class="badge bg-soft-secondary text-secondary p-1">0.0%</span>
                                        </div>
                                    </div>
                                    <!-- End Row -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                    </div>
                    <!-- End Stats -->

                    <!-- Card -->
                    <div class="card">
                        <!-- Header -->
                        <div class="card-header card-header-content-md-between">
                            <div class="mb-2 mb-md-0">
                                <form>
                                    <!-- Search -->
                                    <div class="input-group input-group-merge input-group-flush">
                                        <div class="input-group-prepend input-group-text">
                                            <i class="bi-search"></i>
                                        </div>
                                        <input id="datatableSearch" type="search" class="form-control"
                                            placeholder="Search users" aria-label="Search users">
                                    </div>
                                    <!-- End Search -->
                                </form>
                            </div>

                            <div class="d-grid d-sm-flex justify-content-md-end align-items-sm-center gap-2">
                                <!-- Datatable Info -->
                                <div id="datatableCounterInfo" style="display: none;">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-5 me-3">
                                            <span id="datatableCounter">0</span>
                                            Selected
                                        </span>
                                        <a class="btn btn-outline-danger btn-sm" href="javascript:;">
                                            <i class="bi-trash"></i> Delete
                                        </a>
                                    </div>
                                </div>
                                <!-- End Datatable Info -->


                            </div>
                        </div>
                        <!-- End Header -->

                        <!-- Table -->
                        <div class="table-responsive datatable-custom position-relative">
                            <table id="datatable"
                                class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                                data-hs-datatables-options='{
                               "columnDefs": [{
                                  "targets": [0, 7],
                                  "orderable": false
                                }],
                               "order": [],
                               "info": {
                                 "totalQty": "#datatableWithPaginationInfoTotalQty"
                               },
                               "search": "#datatableSearch",
                               "entries": "#datatableEntries",
                               "pageLength": 15,
                               "isResponsive": false,
                               "isShowPaging": false,
                               "pagination": "datatablePagination"
                             }'>
                                <thead class="thead-light">
                                    <tr>
                                        <th class="table-column-pe-0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="datatableCheckAll">
                                                <label class="form-check-label" for="datatableCheckAll"></label>
                                            </div>
                                        </th>
                                        <th class="table-column-ps-0">Name</th>
                                        <th>Contact</th>
                                        <th>Location</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                        <th>Orders</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <% for(let i=0; i < user.length; i++){ %>
                                        <tr>
                                            <td class="table-column-pe-0">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="datatableCheckAll1">
                                                    <label class="form-check-label" for="datatableCheckAll1"></label>
                                                </div>
                                            </td>
                                            <td class="table-column-ps-0">
                                                <a class="d-flex align-items-center" href="user-profile.html">
                                                    <div class="avatar avatar-circle">
                                                        <img class="avatar-img" src="assets/img/160x160/img10.jpg"
                                                            alt="Image Description">
                                                    </div>
                                                    <div class="ms-3">
                                                        <span class="d-block h5 text-inherit mb-0">
                                                            <%= user[i].name %>
                                                        </span>
                                                    </div>
                                                </a>
                                            </td>

                                            <td>
                                                <%= user[i].phone %>
                                            </td>
                                            <td>Kerala</td>
                                            <td>
                                                <%= user[i].email %>
                                            </td>
                                            <td>
                                                <% if(user[i].isBlocked !=1 ){ %>
                                                    <button class="btn btn-danger" id="blockButton<%= user[i]._id %>"
                                                        onclick="showConfirmationModal('<%= user[i]._id %>')">Block</button>
                                                    <% }else{ %>

                                                        <button class="btn btn-success"
                                                            id="blockButton<%= user[i]._id %>"
                                                            onclick="showConfirmationModal('<%= user[i]._id %>')">Unblock</button>
                                                        <% } %>

                                            </td>
                                            <td>2</td>
                                        </tr>

                                        <% } %>

                                </tbody>
                            </table>
                        </div>
                        <!-- End Table -->

                        <!-- Modal -->
                        <div class="modal fade" id="confirmationModal" tabindex="-1"
                            aria-labelledby="confirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to block this user?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-danger"
                                            onclick="confirmBlockUser()">Block</button>
                                    </div>
                                </div>
                            </div>x
                        </div>

                        <!-- Footer -->
                        <div class="card-footer">
                            <div class="row justify-content-center justify-content-sm-between align-items-sm-center">

                                <!-- End Col -->

                                <div class="col-sm-auto">
                                    <div class="d-flex justify-content-center justify-content-sm-end">
                                        <!-- Pagination -->
                                        <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                                    </div>
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Row -->
                        </div>
                        <!-- End Footer -->
                    </div>
                    <!-- End Card -->
                </div>
                <!-- End Content -->

                <!-- End Footer -->
            </main>



            


            <!-- Import Products Modal -->
            

            <!-- ========== END SECONDARY CONTENTS ========== -->

            <!-- JS Implementing Plugins -->
            <script src="/assets/admin/js/vendor.min.js"></script>

            <!-- JS Front -->
            <script src="/assets/admin/js/theme.min.js"></script>

            <script>
                function blockUser(userId) {
                    const blockButton = document.getElementById(`blockButton${userId}`);

                    // Assuming you are using fetch API
                    let text = blockButton.innerHTML;

                    if (text === "Block") {
                        fetch(`/admin/blockUser`, {
                            method: 'PUT',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ userId })
                        })
                            .then(response => response.json())
                            .then(data => {

                                window.location.href = '/admin/users';
                            })
                            .catch(error => console.error('Error blocking user:', error));
                    } else if (text === "Unblock") {
                        // Only unblock the user if they are currently blocked
                        fetch(`/admin/UnBlockUser`, {
                            method: 'PUT',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ userId })
                        })
                            .then(response => response.json())
                            .then(data => {
                                window.location.href = '/admin/users';
                            })
                            .catch(error => console.error('Error unblocking user:', error));
                    }
                }

            </script>

            <script>
                function showConfirmationModal(userId) {

                    $('#confirmationModal').data('userId', userId);

                    $('#confirmationModal').modal('show');
                }

                function confirmBlockUser() {

                    const userId = $('#confirmationModal').data('userId');

                    blockUser(userId);

                    $('#confirmationModal').modal('hide');
                }
            </script>

            <%-include('../layouts/admin/footer')-%>