<%-include('../layouts/user/header')-%>

    <!-- Bootstrap JS Bundle (popper.js included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <!-- Include SweetAlert2 CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    </head>

    <body>
        <div class="page-wrapper">

            <%-include('../layouts/user/navbar')-%>

                <main class="main">
                    <div class="page-header text-center" style="background-image: url('')">
                        <div class="container">
                            <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
                        </div><!-- End .container -->
                    </div><!-- End .page-header -->
                    <nav aria-label="breadcrumb" class="breadcrumb-nav">
                        <div class="container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                            </ol>
                        </div><!-- End .container -->
                    </nav><!-- End .breadcrumb-nav -->

                    <div class="page-content">
                        <div class="cart">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <table class="table table-cart table-mobile">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% if (user.cart && user.cart.length> 0) { %>
                                                    <% user.cart.forEach(cartItem=> { %>
                                                        <tr>
                                                            <td class="product-col">
                                                                <div class="product">
                                                                    <figure class="product-media">
                                                                        <% if (cartItem.productId &&
                                                                            cartItem.productId.productImages &&
                                                                            cartItem.productId.productImages.length> 0)
                                                                            { %>
                                                                            <img src="/assets/productImages/uploadImages/<%= cartItem.productId.productImages[0] %>"
                                                                                alt="<%= cartItem.productId && cartItem.productId.productName %>">
                                                                            <% } else { %>
                                                                                <img src="/path/to/default/image.jpg"
                                                                                    alt="Default Product Image">
                                                                                <% } %>
                                                                    </figure>
                                                                    <h3 class="product-title">
                                                                        <a href="#">
                                                                            <% if (cartItem.productId &&
                                                                                cartItem.productId.productName) { %>
                                                                                <%= cartItem.productId.productName %>
                                                                                    <% } else { %>
                                                                                        Product Name Not Available
                                                                                        <% } %>
                                                                        </a>
                                                                    </h3><!-- End .product-title -->
                                                                </div><!-- End .product -->
                                                            </td>

                                                            <td class="price-col">
                                                                <% if (cartItem.productId && cartItem.price) { %>
                                                                    ₹<%= cartItem.price %> 
                                                                        <% } else { %>
                                                                            Price Not Available
                                                                            <% } %>
                                                            </td>
                                                            <td class="quantity-col">
                                                                <div class="cart-product-quantity py-2">
                                                                    <i class="fa-solid fa-minus p-1"
                                                                        onclick="decreaseQuantity('<%= cartItem.productId && cartItem.productId._id %>','<%= cartItem.productId && cartItem.price %>')"></i>
                                                                    <span class="custom-quantity px-4"
                                                                        id="quantityDisplay<%= cartItem.productId && cartItem.productId._id %>">
                                                                        <%= cartItem.quantity %>
                                                                    </span>
                                                                    <i class="fa-regular fa-plus p-2"
                                                                        onclick="increaseQuantity('<%= cartItem.productId && cartItem.productId._id %>','<%= cartItem.productId && cartItem.price %>')"></i>
                                                                </div><!-- End cart-product-quantity -->
                                                            </td>
                                                            <td class="total-col cart-total"
                                                                id="total<%= cartItem.productId && cartItem.productId._id %>">
                                                                <% if (cartItem.productId && cartItem.price) { %>
                                                                    ₹<span class="product-total"
                                                                        data-product-id="<%= cartItem.productId._id %>"
                                                                        data-price="<%= cartItem.price %>">
                                                                        <%= cartItem.price * cartItem.quantity %>
                                                                    </span>
                                                                    <% } else { %>
                                                                        Total Not Available
                                                                        <% } %>
                                                            </td>
                                                            <td class="remove-col">
                                                                <button class="btn-remove"
                                                                    onclick="showConfirmationModal('<%= cartItem.productId && cartItem.productId._id %>')">
                                                                    <i class="fa-light fa-x fa-xs xbtn"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <tr>
                                                                    <td colspan="5" class="text-center">
                                                                        <p>No items in the cart.</p>
                                                                        <a href="/shop"
                                                                            class="btn btn-outline-primary-2">
                                                                            <span>GO SHOP</span><i
                                                                                class="icon-long-arrow-right"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                            </tbody>




                                        </table><!-- End .table table-wishlist -->

                                    </div><!-- End .col-lg-9 -->
                                    <aside class="col-lg-3">
                                        <div class="summary summary-cart">
                                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                            <table class="table table-summary">
                                                <tbody>
                                                    <tr class="summary-subtotal">
                                                        <td>Subtotal:</td>
                                                        <td id="subtotal">0</td>
                                                    </tr><!-- End .summary-subtotal -->
                                                    <tr class="summary-shipping">
                                                        <td>Shipping:</td>
                                                        <td>&nbsp;</td>
                                                    </tr>

                                                    <tr class="summary-shipping-row">
                                                        <td>
                                                            <div class="custom-control">
                                                                <label for="free-shipping">Free Shipping</label>
                                                            </div><!-- End .custom-control -->
                                                        </td>
                                                        <td class="">₹0.00</td>
                                                    </tr><!-- End .summary-shipping-row -->


                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td id="billAmount">0</td>
                                                    </tr><!-- End .summary-total -->
                                                </tbody>
                                            </table><!-- End .table table-summary -->

                                            <a href="/cart/checkout"
                                                class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                                CHECKOUT</a>
                                        </div><!-- End .summary -->

                                        <a href="category.html"
                                            class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                                SHOPPING</span><i class="icon-refresh"></i></a>
                                    </aside><!-- End .col-lg-3 -->
                                </div><!-- End .row -->
                            </div><!-- End .container -->
                        </div><!-- End .cart -->
                    </div><!-- End .page-content -->
                </main><!-- End .main -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


        <!-- Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                        <i data-bs-dismiss="modal" class="fa-light fa-x " style="color: #000000;"></i>
                    </div>
                    <div class="modal-body pl-3">
                        Are you sure you want to remove?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="confirmRemoveProduct()">Remove</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- ---------------------Remove cart Products------------------ -->
        <script>
            function showConfirmationModal(productId) {

                $('#confirmationModal').data('productId', productId);

                $('#confirmationModal').modal('show');
            }

            function confirmRemoveProduct() {

                const productId = $('#confirmationModal').data('productId');
                // const removeButton = document.getElementById(`${productId}`);
                console.log("haii");
                fetch(`/cart/removeProduct`, {
                    method: 'DELETE',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ productId })
                })
                    .then(response => response.json())
                    .then(data => {

                        Swal.fire({
                            icon: 'success',
                            title: 'Product Removed!',
                            text: 'The product has been successfully removed from your cart.',
                            confirmButtonText: 'OK',
                            customClass: {
                                confirmButton: 'btn btn-secondary',
                            },
                        });

                        // Redirect to the cart page after a short delay
                        setTimeout(() => {
                            window.location.href = '/cart';
                        }, 1000); // 2000 milliseconds (2 seconds)

                    })
                    .catch(error => console.error('Error blocking user:', error));

                $('#confirmationModal').modal('hide');
            }
        </script>

        <!----------------------Cart-page-dynamical-things-(changing-prices)------------>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                updateSubtotal();
            });

            function updateSubtotal() {
                const productTotalElements = document.querySelectorAll('.product-total');
                const subtotalElement = document.getElementById('subtotal');

                let sum = 0;
                productTotalElements.forEach(element => {
                    sum += parseFloat(element.textContent.replace('₹', ''));
                });

                subtotalElement.textContent = '₹' + sum.toFixed(2);
                document.getElementById('billAmount').innerHTML = document.getElementById('subtotal').innerHTML;
            }

            function updateTotal(productId, newQuantity, productPrice) {
                const totalElement = document.querySelector(`.product-total[data-product-id="${productId}"]`);
                const newTotal = productPrice * newQuantity;

                totalElement.innerText = '' + newTotal.toFixed(2);

                updateSubtotal(); // Call the function to update the subtotal
            }

            function decreaseQuantity(productId, productPrice) {
                const quantityDisplay = document.getElementById('quantityDisplay' + productId);
                let currentQuantity = parseInt(quantityDisplay.innerText, 10);

                // Decrease the quantity until 1
                if (currentQuantity > 1) {
                    quantityDisplay.innerText = currentQuantity - 1;
                    updateTotal(productId, currentQuantity - 1, productPrice);
                    updateQuantity(productId, currentQuantity - 1);
                }
            }

            function increaseQuantity(productId, productPrice) {
                const quantityDisplay = document.getElementById('quantityDisplay' + productId);
                const currentQuantity = parseInt(quantityDisplay.innerText, 10);

                // Increase the quantity without an upper limit
                quantityDisplay.innerText = currentQuantity + 1;
                updateTotal(productId, currentQuantity + 1, productPrice);
                updateQuantity(productId, currentQuantity + 1);
            }
            function updateQuantity(productId, updatedQuantity) {
                fetch('/cart/updateQuantity', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        productId: productId,
                        quantity: updatedQuantity,
                    }),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.status);

                    })
                    .catch(error => {
                        console.error('Error updating quantity:', error);
                    });
            }
        </script>


        <%-include('../layouts/user/footer')-%>