<%-include('../layouts/user/header')-%>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>




    </head>

    <body>
        <div class="page-wrapper">
            <%-include('../layouts/user/navbar')-%>
                <main class="main">
                    <div class="page-header text-center"
                        style="background-image: url('/assets/images/page-header-bg.jpg')">
                        <div class="container">
                            <h1 class="page-title">Checkout<span>Shop</span></h1>
                        </div><!-- End .container -->
                    </div><!-- End .page-header -->
                    <nav aria-label="breadcrumb" class="breadcrumb-nav">
                        <div class="container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </div><!-- End .container -->
                    </nav><!-- End .breadcrumb-nav -->

                    <div class="page-content">
                        <div class="checkout">
                            <div class="container">
                                <div class="checkout-discount">
                                    <form action="#">
                                        <input type="text" class="form-control" required id="checkout-discount-input">
                                        <label for="checkout-discount-input" class="text-truncate">Have a coupon?
                                            <span>Click here to enter your code</span></label>
                                    </form>
                                </div><!-- End .checkout-discount -->
                                <div class="row">
                                    <div class="col-lg-9">
                                        <p class="m-3">Select your preferable address
                                        <p>
                                        <div class="row">
                                            <% for( let i=0 ; i < address.length ; i++) { %>
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard" onclick="selectAddress(this)">
                                                        <div class="card-body p-0 m-1">
                                                            <input type="radio" class="pl-4 ml-3 mr-1"
                                                                name="addressRadioButton" id="<%= address[i]._id %>">
                                                            <h6 class="m-0 d-inline">
                                                                <%= address[i].name %>
                                                            </h6>
                                                            <%if(address[i].default==true){%>
                                                                <span class="text-info"
                                                                    style="font-size: small;">(default)</span>
                                                                <%}%>
                                                                    <br>
                                                                    <div class="pl-5">
                                                                        <%= address[i].houseName %>,
                                                                            <%= address[i].appartmentNumber %>,
                                                                                <%=address[i].city %>
                                                                                    <%= address[i].zipcode%>,
                                                                                        <%= address[i].state%>,
                                                                                            <%=address[i].country %>
                                                                                                <br>
                                                                                                <%= address[i].email%>
                                                                                                    ,
                                                                                                    <%=address[i].phone%>
                                                                                                        <br>
                                                                                                        <%= address[i].company
                                                                                                            %><br>
                                                                                                            <a href="#"
                                                                                                                onclick="showEditAddressModal('<%= address[i].name %>','<%= address[i].company %>','<%= address[i].country %>', '<%= address[i].houseName %>', '<%= address[i].appartmentNumber %>', '<%= address[i].city %>', '<%= address[i].state %>', '<%= address[i].zipcode %>', '<%= address[i].phone %>', '<%= address[i].email %>','<%= address[i]._id %>','<%= address[i].default %>')">Edit
                                                                                                                <i class="fa-sharp fa-solid fa-pen"
                                                                                                                    style="color: #cc9966;"></i></a>
                                                                    </div>
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .card-dashboard -->
                                                </div><!-- End .col-lg-6 -->
                                                <%}%>
                                                    <div class="col-lg-12">
                                                        <label>Order notes (optional)</label>
                                                        <textarea class="form-control"
                                                            placeholder="Notes about your order, e.g. special notes for delivery"
                                                            id="orderNotes" name="orderNotes"></textarea>
                                                    </div>


                                        </div><!-- ------Row- end----- -->
                                        <button class="btn btn-primary" id="addBtn"> Ship to another address</button>

                                        <form action="#" id="addAddressForm" style="display: none;">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <hr>
                                                    <h2 class="checkout-title text-center">Address Details</h2>
                                                    <!-- End .checkout-title -->
                                                    <div class="">
                                                        <label>First Name *</label>
                                                        <p class="text-danger d-inline" id="nameError"></p>
                                                        <input type="text" class="form-control" name="name" id="name">
                                                    </div><!-- End .col-sm-6 -->


                                                    <label>Company Name (Optional)</label>
                                                    <input type="text" class="form-control" name="company" id="company">

                                                    <label>Country *</label>
                                                    <p class="text-danger d-inline" id="countryError"></p>
                                                    <input type="text" class="form-control" name="country" id="country">

                                                    <label>Street address *</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="House number and Street name" id="houseName"
                                                        name="houseName">
                                                    <input type="text" class="form-control"
                                                        placeholder="Appartments, suite, unit etc ..." id="appartment"
                                                        name="appartment">

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Town / City *</label>
                                                            <input type="text" class="form-control" id="city"
                                                                name="city">
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label>State</label>
                                                            <input type="text" class="form-control" id="state"
                                                                name="state">
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Postcode / ZIP *</label>
                                                            <p class="text-danger d-inline" id="postcodeError"></p>
                                                            <input type="text" class="form-control" name="postcode"
                                                                id="postcode">
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label>Phone *</label>
                                                            <p class="text-danger d-inline" id="phoneError"></p>
                                                            <input type="tel" class="form-control" id="phone"
                                                                name="phone">
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <label>Email address *</label>
                                                    <p class="text-danger d-inline" id="emailError"></p>
                                                    <input type="" class="form-control" id="email" name="email">

                                                </div><!-- End .col-lg-9 -->
                                            </div><!-- End .row -->




                                    </div><!-- End .col-lg-9 -->
                                    <aside class="col-lg-3">
                                        <div class="summary">
                                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                            <table class="table table-summary">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <% user.cart.forEach(cartItem=> { %>
                                                        <tr>
                                                            <td><a href="#">
                                                                    <%= cartItem.productId.productName %> <span>X</span>
                                                                        <%= cartItem.quantity %>
                                                                </a></td>
                                                            <td id="productTotal">$ <%= cartItem.productId.price *
                                                                    cartItem.quantity %>
                                                            </td>
                                                        </tr>
                                                        <%})%>

                                                            <tr class="summary-subtotal">
                                                                <td>Subtotal:</td>
                                                                <td id="subTotal"> </td>
                                                            </tr><!-- End .summary-subtotal -->
                                                            <tr>
                                                                <td>Shipping:</td>
                                                                <td>Free shipping</td>
                                                            </tr>
                                                            <tr class="summary-total">
                                                                <td>Total:</td>
                                                                <td id="total">$</td>
                                                            </tr><!-- End .summary-total -->

                                                </tbody>
                                            </table><!-- End .table table-summary -->
                                            <hr class="mt-0">

                                            <div class="accordion-summary" id="accordion-payment">
                                                <div>
                                                    <h6>Payment methods</h6>
                                                    <div class="mobile-nav">
                                                        <ul class="mobile-menu payment-methods-dropdown">
                                                            <li class="active">
                                                                <a class="sf-with-ul p-0 text-dark">Online Payments</a>
                                                                <ul>
                                                                    <li>
                                                                        <input type="radio" class="ml-4 mr-1"
                                                                            name="paymentMethod" id="razorpay">
                                                                        <div
                                                                            style="display: inline-block; width: 8rem;">
                                                                            <img src="/assets/images/icons/razorpay-icon.webp"
                                                                                alt="">
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="active">
                                                                <a class="sf-with-ul p-0 text-dark">Wallet</a>
                                                                <ul>
                                                                    <li>
                                                                        <p class="text-danger" id="walletError" ></p>
                                                                        <input type="radio" class="mx-4"
                                                                            name="paymentMethod" id="wallet">
                                                                        <i class="fa-solid fa-wallet fa-lg mr-2"
                                                                            style="color: #121b2b;"></i>
                                                                        <label for="wallet">Wallet </label>
                                                                        <p class="mx-5">Wallet amount:<span id="walletAmount"><%= user.wallet.balance %></span></p>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li class="active">
                                                                <a class="sf-with-ul p-0">Other payments</a>
                                                                <ul>
                                                                    <li>
                                                                        <input type="radio" class="mx-4"
                                                                            name="paymentMethod" id="cashOnDelivery">
                                                                        <i class="fa-solid fa-hand-holding-dollar fa-lg mr-2"
                                                                            style="color: #06090e;"></i>
                                                                        <label for="cashOnDelivery">Cash on
                                                                            delivery</label>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!-- End .accordion -->


                                            <button type="submit" id="placeOrderBtn"
                                                class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span class="btn-hover-text">Proceed to Checkout</span>
                                            </button>
                                        </div><!-- End .summary -->
                                    </aside><!-- End .col-lg-3 -->
                                    </form>
                                </div><!-- End .row -->
                            </div><!-- End .container -->
                        </div><!-- End .checkout -->
                    </div><!-- End .page-content -->
                </main><!-- End .main -->

                <footer class="footer">
                    <div class="footer-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget widget-about">
                                        <img src="/assets/images/logo.png" class="footer-logo" alt="Footer Logo"
                                            width="105" height="25">
                                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                            vulputate magna eros eu erat. </p>

                                        <div class="social-icons">
                                            <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                                    class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                                    class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                                    class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                                    class="icon-youtube"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                                    class="icon-pinterest"></i></a>
                                        </div><!-- End .soial-icons -->
                                    </div><!-- End .widget about-widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="about.html">About Molla</a></li>
                                            <li><a href="#">How to shop on Molla</a></li>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                            <li><a href="login.html">Log in</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Payment Methods</a></li>
                                            <li><a href="#">Money-back guarantee!</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Shipping</a></li>
                                            <li><a href="#">Terms and conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Sign In</a></li>
                                            <li><a href="cart.html">View Cart</a></li>
                                            <li><a href="#">My Wishlist</a></li>
                                            <li><a href="#">Track My Order</a></li>
                                            <li><a href="#">Help</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->
                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .footer-middle -->

                    <div class="footer-bottom">
                        <div class="container">
                            <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                            <!-- End .footer-copyright -->
                            <figure class="footer-payments">
                                <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                            </figure><!-- End .footer-payments -->
                        </div><!-- End .container -->
                    </div><!-- End .footer-bottom -->
                </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="fa-solid fa-arrow-up fa-la"
                style="color: #cc9966;"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <form action="#" method="get" class="mobile-search">
                    <label for="mobile-search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                        placeholder="Search in..." required>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>

                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="index.html">Home</a>

                            <ul>
                                <li><a href="index-1.html">01 - furniture store</a></li>
                                <li><a href="index-2.html">02 - furniture store</a></li>
                                <li><a href="index-3.html">03 - electronic store</a></li>
                                <li><a href="index-4.html">04 - electronic store</a></li>
                                <li><a href="index-5.html">05 - fashion store</a></li>
                                <li><a href="index-6.html">06 - fashion store</a></li>
                                <li><a href="index-7.html">07 - fashion store</a></li>
                                <li><a href="index-8.html">08 - fashion store</a></li>
                                <li><a href="index-9.html">09 - fashion store</a></li>
                                <li><a href="index-10.html">10 - shoes store</a></li>
                                <li><a href="index-11.html">11 - furniture simple store</a></li>
                                <li><a href="index-12.html">12 - fashion simple store</a></li>
                                <li><a href="index-13.html">13 - market</a></li>
                                <li><a href="index-14.html">14 - market fullwidth</a></li>
                                <li><a href="index-15.html">15 - lookbook 1</a></li>
                                <li><a href="index-16.html">16 - lookbook 2</a></li>
                                <li><a href="index-17.html">17 - fashion store</a></li>
                                <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                                <li><a href="index-19.html">19 - games store</a></li>
                                <li><a href="index-20.html">20 - book store</a></li>
                                <li><a href="index-21.html">21 - sport store</a></li>
                                <li><a href="index-22.html">22 - tools store</a></li>
                                <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                                <li><a href="index-24.html">24 - extreme sport store</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">Shop</a>
                            <ul>
                                <li><a href="category-list.html">Shop List</a></li>
                                <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                                <li><a href="category.html">Shop Grid 3 Columns</a></li>
                                <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                                <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span
                                                class="tip tip-hot">Hot</span></span></a></li>
                                <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                                <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                                <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span
                                                class="tip tip-new">New</span></span></a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="#">Lookbook</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="product.html" class="sf-with-ul">Product</a>
                            <ul>
                                <li><a href="product.html">Default</a></li>
                                <li><a href="product-centered.html">Centered</a></li>
                                <li><a href="product-extended.html"><span>Extended Info<span
                                                class="tip tip-new">New</span></span></a></li>
                                <li><a href="product-gallery.html">Gallery</a></li>
                                <li><a href="product-sticky.html">Sticky Info</a></li>
                                <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                                <li><a href="product-fullwidth.html">Full Width</a></li>
                                <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li>
                                    <a href="about.html">About</a>

                                    <ul>
                                        <li><a href="about.html">About 01</a></li>
                                        <li><a href="about-2.html">About 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>

                                    <ul>
                                        <li><a href="contact.html">Contact 01</a></li>
                                        <li><a href="contact-2.html">Contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="404.html">Error 404</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>

                            <ul>
                                <li><a href="blog.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                        <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                        <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                        <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                        <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single Post</a>
                                    <ul>
                                        <li><a href="single.html">Default with sidebar</a></li>
                                        <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                        <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements-list.html">Elements</a>
                            <ul>
                                <li><a href="elements-products.html">Products</a></li>
                                <li><a href="elements-typography.html">Typography</a></li>
                                <li><a href="elements-titles.html">Titles</a></li>
                                <li><a href="elements-banners.html">Banners</a></li>
                                <li><a href="elements-product-category.html">Product Category</a></li>
                                <li><a href="elements-video-banners.html">Video Banners</a></li>
                                <li><a href="elements-buttons.html">Buttons</a></li>
                                <li><a href="elements-accordions.html">Accordions</a></li>
                                <li><a href="elements-tabs.html">Tabs</a></li>
                                <li><a href="elements-testimonials.html">Testimonials</a></li>
                                <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                <li><a href="elements-portfolio.html">Portfolio</a></li>
                                <li><a href="elements-cta.html">Call to Action</a></li>
                                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->

                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->

        <!-- Sign in / Register Modal -->
        <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon-close"></i></span>
                        </button>

                        <div class="form-box">
                            <div class="form-tab">
                                <ul class="nav nav-pills nav-fill" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                            role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="register-tab" data-toggle="tab" href="#register"
                                            role="tab" aria-controls="register" aria-selected="false">Register</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tab-content-5">
                                    <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                        aria-labelledby="signin-tab">
                                        <form action="#">
                                            <div class="form-group">
                                                <label for="singin-email">Username or email address *</label>
                                                <input type="text" class="form-control" id="singin-email"
                                                    name="singin-email" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-group">
                                                <label for="singin-password">Password *</label>
                                                <input type="password" class="form-control" id="singin-password"
                                                    name="singin-password" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-footer">
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>LOG IN</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="signin-remember">
                                                    <label class="custom-control-label" for="signin-remember">Remember
                                                        Me</label>
                                                </div><!-- End .custom-checkbox -->

                                                <a href="#" class="forgot-link">Forgot Your Password?</a>
                                            </div><!-- End .form-footer -->
                                        </form>
                                        <div class="form-choice">
                                            <p class="text-center">or sign in with</p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-g">
                                                        <i class="icon-google"></i>
                                                        Login With Google
                                                    </a>
                                                </div><!-- End .col-6 -->
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-f">
                                                        <i class="icon-facebook-f"></i>
                                                        Login With Facebook
                                                    </a>
                                                </div><!-- End .col-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .form-choice -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="register" role="tabpanel"
                                        aria-labelledby="register-tab">
                                        <form action="#">
                                            <div class="form-group">
                                                <label for="register-email">Your email address *</label>
                                                <input type="email" class="form-control" id="register-email"
                                                    name="register-email" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-group">
                                                <label for="register-password">Password *</label>
                                                <input type="password" class="form-control" id="register-password"
                                                    name="register-password" required>
                                            </div><!-- End .form-group -->

                                            <div class="form-footer">
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>SIGN UP</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="register-policy" required>
                                                    <label class="custom-control-label" for="register-policy">I agree to
                                                        the <a href="#">privacy policy</a> *</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .form-footer -->
                                        </form>
                                        <div class="form-choice">
                                            <p class="text-center">or sign in with</p>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-g">
                                                        <i class="icon-google"></i>
                                                        Login With Google
                                                    </a>
                                                </div><!-- End .col-6 -->
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login  btn-f">
                                                        <i class="icon-facebook-f"></i>
                                                        Login With Facebook
                                                    </a>
                                                </div><!-- End .col-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .form-choice -->
                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .form-tab -->
                        </div><!-- End .form-box -->
                    </div><!-- End .modal-body -->
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        </div><!-- End .modal -->

        <!-- Edit Address Modal -->
        <div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-4">
                        <!-- Form fields for editing address details go here -->
                        <form id="editAddressForm">
                            <div class="mb-3">
                                <label for="editName" class="form-label">Name*</label>
                                <p class="text-danger d-inline" id="nameError"></p>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="editCompany" class="form-label">Company Name (optional)</label>
                                <input type="text" class="form-control" id="company" name="company">
                            </div>
                            <div class="mb-3">
                                <label for="editCountry" class="form-label">Country*</label>
                                <p class="text-danger d-inline" id="countryError"></p>
                                <input type="text" class="form-control" id="country" name="country">
                            </div>
                            <!-- Repeat for other address fields -->
                            <div class="mb-3">
                                <!-- Add other fields as needed -->
                                <label for="editStreet" class="form-label">Street Address*</label>
                                <input type="text" class="form-control" id="houseName" name="houseName"
                                    placeholder="House number and street name">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="appartment" name="appartment"
                                    placeholder="Apartments, suite, unit, etc..">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="editCity">Town/City*</label>
                                    <input type="text" class="form-control" id="city" name="city">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="editState">State*</label>
                                    <input type="text" class="form-control" id="state" name="state">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="editPostcode">Postcode/ZIP*</label>
                                    <p class="text-danger d-inline" id="postcodeError"></p>
                                    <input type="text" class="form-control" id="postcode" name="postcode">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="editPhone">Phone*</label>
                                    <p class="text-danger d-inline" id="phoneError"></p>
                                    <input type="text" class="form-control" id="phone" name="addressId">
                                </div>

                                <input type="text" class="form-control" style="display: none;" id="addressId"
                                    name="addressId">
                            </div>

                            <div class="form-group">
                                <label for="editEmail">Email Address*</label>
                                <p class="text-danger d-inline" id="emailError"></p>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>

                            <div class="form-group">
                                <input type="checkbox" id="isdefault" name="isDefault">
                                <label for="default">Default address</label>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary rounded"
                                    data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary rounded">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="notification-container"></div>

        <!-- ----------Select address and send datas when click placeOder---------- -->

        <script>
            document.getElementById('placeOrderBtn').addEventListener('click', function () {
                event.preventDefault();
                const selectedRadioButton = document.querySelector('input[name="addressRadioButton"]:checked');
                const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
                const orderNotes = document.getElementById('orderNotes').value;
                const totalValue = parseFloat(document.getElementById('total').textContent.replace('$', ''));

                if (selectedRadioButton) {
                    // Radio button is selected, send data to /cart/placeOrder route
                    const formData = new FormData();
                    formData.append('selectedAddressId', selectedRadioButton.id);

                    if (paymentMethod) {
                        formData.append('paymentMethod', paymentMethod.id);
                    }

                    formData.append('orderNotes', orderNotes);
                    formData.append('total', totalValue);

                    $.ajax({
                        url: '/cart/placeOrder',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(Object.fromEntries(formData.entries())),
                        success: function (data) {

                            if (data.success && data.paymentMethod !== 'razorpay') {
                                showSuccessAlert(data.success, data.message)
                                    .then((clickedButton) => {
                                        console.log('Clicked Button:', clickedButton);

                                        if (clickedButton == 'OK') {
                                            window.location.href = '/home';
                                        } else {
                                            window.location.href = '/account';
                                        }
                                    });

                            }else if(data.success && data.paymentMethod === 'razorpay'){
                                const options = {
                                    key: 'rzp_test_9WWhpgu9IlsKe3',
                                    amount: data.amount,
                                    currency: 'INR',
                                    order_id: data.orderId,
                                    name: 'Frost-Bay',
                                    description: 'Payment for your order',
                                    theme: {
                                        color: '#cc9966', 
                                        
                                    },
                                     prefill: {
                                        "email": "frostBay@gmail.com",
                                        "contact": "7306477519"
                                    },
                                    notes: {
                                        "address": "Frost-Bay"
                                    },
                                    handler: function (response) {
                                        verifyPayment(response, data);
                                    },
                                };

                                const rzr = new Razorpay(options);
                                rzr.on('payment.failed', function (response) {
                                    console.log(response);
                                    console.error('Payment failed:', response.error.code, response.error.description);
                                });
                                rzr.open();
                            }else {
                                showNotification(data.message, false);
                            }
                        },
                        error: function (error) {
                            console.error('Error:', error);
                        }
                    });

                } else {
                    if (validateForm('addAddressForm')) {
                        const formData = new FormData(document.getElementById('addAddressForm'));

                        if (paymentMethod) {
                            formData.append('paymentMethod', paymentMethod.id);
                        }

                        formData.append('orderNotes', orderNotes);
                        formData.append('total', totalValue);

                        $.ajax({
                            url: '/cart/placeOrder',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(Object.fromEntries(formData.entries())),
                            success: function (data) {
                                showSuccessAlert(data.result)
                                    .then((clickedButton) => {
                                        console.log('Clicked Button:', clickedButton);

                                        if (clickedButton == 'OK') {
                                            window.location.href = '/home';
                                        } else {
                                            window.location.href = '/account';
                                        }
                                    });
                            },
                            error: function (error) {
                                console.error('Error:', error);
                            }
                        });
                    }
                }
            });

            function verifyPayment(payment,order) {
                    $.ajax({
                        url: "/cart/verifyPayment",
                        method: "post",
                        data: {
                            payment: payment,
                            amount: order.amount,
                            order: order,
                        },
                        success: (response) => {
                            
       console.log("response",response);
                            if (response) {
                                 showSuccessAlert(response.success, response.message)
                                .then((clickedButton) => {
                                    console.log('Clicked Button:', clickedButton);

                                    if (clickedButton == 'OK') {
                                        window.location.href = '/home';
                                    } else {
                                        window.location.href = '/account';
                                    }
                                });

                            } else {
                                swal.fire({
                                    positon: "center",
                                    icon: "error",
                                    title: "Payment failed",
                                    showConfirmButton: false,
                                    timer: 1500,
                                });
                            }
                        },
                    });
                }
        </script>



        <!-- -------------sweet Alerts------------------- -->
        <script>
            function showSuccessAlert(result, message) {
                return new Promise((resolve) => {
                    Swal.fire({
                        title: 'Order Success!',
                        text: 'Your order has been placed successfully.',
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonText: 'Orders',
                        cancelButtonText: 'OK',
                        allowOutsideClick: false,
                    }).then((swalResult) => {
                        if (swalResult.isConfirmed) {
                            resolve('Orders');
                        } else if (swalResult.dismiss === Swal.DismissReason.cancel) {
                            resolve('OK');
                        }
                    });
                });
            }
        </script>

        <!--  ------For edit ADdress------ -->
        <script>
            document.getElementById('editAddressForm').addEventListener('submit', async function (event) {
                event.preventDefault();

                if (!validateForm('editAddressForm')) {
                    return;
                }

                const formData = new FormData(this);
                const formObj = Object.fromEntries(Array.from(formData.entries()));

                const defaultAddressCheckbox = document.getElementById('isdefault');
                console.log("Checkbox checked:", defaultAddressCheckbox.checked);
                formObj.isDefault = defaultAddressCheckbox.checked;

                const response = await fetch('/account/editAddress', {
                    method: 'PATCH',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(formObj)
                });


                const result = await response.json();


                if (result.success) {
                    showNotification(result.message, true);
                    setTimeout(() => {
                        window.location.href = '/cart/checkout'
                    }, 1000);

                } else {
                    showNotification(result.message, false);
                }
            });
        </script>

        <!------------showing notification------------->
        <script>
            function showNotification(message, success = true) {
                const notificationContainer = document.getElementById('notification-container');
                notificationContainer.innerHTML = message;

                if (success) {
                    notificationContainer.style.color = 'green';
                } else {
                    notificationContainer.style.color = 'red';
                }

                notificationContainer.style.display = 'block';

                setTimeout(() => {
                    notificationContainer.style.display = 'none';
                }, 3000); // Adjust the time as needed
            }
        </script>

        <!-- ------------ Edit Address------- -->
        <script>
            function showEditAddressModal(name, company, country, houseName, appartmentNumber, city, state, postcode, phone, email, addressId, isDefault) {

                var form = document.getElementById('editAddressForm');
                form.querySelector('#name').value = name;
                form.querySelector('#email').value = email;
                form.querySelector('#phone').value = phone;
                form.querySelector('#city').value = city;
                form.querySelector('#state').value = state;
                form.querySelector('#postcode').value = postcode;
                form.querySelector('#company').value = company;
                form.querySelector('#country').value = country;
                form.querySelector('#houseName').value = houseName
                form.querySelector('#appartment').value = appartmentNumber;
                form.querySelector('#addressId').value = addressId;


                if (form == "editAddressForm") {
                    form.querySelector('#addressId').value = addressId;
                }


                var defaultCheckbox = form.querySelector('#isdefault');

                if (isDefault == "true") {
                    defaultCheckbox.checked = true;
                } else {
                    defaultCheckbox.checked = false
                }

                // Show the modal
                $('#editAddressModal').modal('show');
            }
        </script>

        <script>
            // -------Edit form validation-------
            function validateForm(formId) {
                var form = document.getElementById(formId);
                var name = form.querySelector('#name');
                var email = form.querySelector('#email');
                var phone = form.querySelector('#phone');
                var country = form.querySelector('#country');
                var postcode = form.querySelector('#postcode');
                var nameError = form.querySelector('#nameError');
                var emailError = form.querySelector('#emailError');
                var phoneError = form.querySelector('#phoneError');
                var postError = form.querySelector('#postcodeError');
                var countryError = form.querySelector('#countryError');

                // Regular expressions for validation
                var nameRegex = /^[A-Za-z\s]{4,}$/;
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                var phoneRegex = /^\d{10}$/;
                var countryRegex = /^\D*$/;
                var postCodeRegex = /^\d{6}$/;

                // Validate Name
                if (!nameRegex.test(name.value)) {
                    nameError.textContent = 'Name should contain at least 4 letters and no digits.';
                    return false;
                } else {
                    nameError.textContent = '';
                }

                if (!emailRegex.test(email.value)) {
                    emailError.textContent = 'Invalid email format.';
                    return false;
                } else {
                    emailError.textContent = '';
                }

                if (!phoneRegex.test(phone.value)) {
                    phoneError.textContent = 'Phone should contain 10 digits.';
                    return false;
                } else {
                    phoneError.textContent = '';
                }

                if (!countryRegex.test(country.value)) {
                    countryError.textContent = 'Invalid country name';
                    return false;
                } else {
                    countryError.textContent = '';
                }

                if (!postCodeRegex.test(postcode.value)) {
                    postError.textContent = 'It should only contain 6 digits';
                    return false;
                } else {
                    postError.textContent = '';
                }


                return true;

            }
        </script>



        <!-- ---------Radio active------------ -->
        <script>
            function selectAddress(card) {
                const radioBtn = card.querySelector('input[type="radio"]');
                const allCards = document.querySelectorAll('.card-dashboard');
                const addAddressForm = document.getElementById('addAddressForm');

                // Hide the addAddressForm
                addAddressForm.style.display = 'none';

                // Uncheck all radio buttons and remove 'selected' class
                allCards.forEach((c) => {
                    const otherRadioBtn = c.querySelector('input[type="radio"]');
                    otherRadioBtn.checked = false;
                    c.classList.remove('selected');
                });

                // Check the selected radio button and add 'selected' class
                radioBtn.checked = true;
                card.classList.add('selected');
            }

            document.getElementById('addBtn').addEventListener('click', (event) => {
                event.preventDefault();

                const allRadioButtons = document.querySelectorAll('input[name="addressRadioButton"]');
                const allCards = document.querySelectorAll('.card-dashboard');
                const addAddressForm = document.getElementById('addAddressForm');

                // Uncheck all radio buttons and remove 'selected' class
                allRadioButtons.forEach((radioBtn) => {
                    radioBtn.checked = false;
                });

                allCards.forEach((card) => {
                    card.classList.remove('selected');
                });

                // Display the addAddressForm
                addAddressForm.style.display = 'block';
            });
        </script>


        <!-- for display totals -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var productTotalElements = document.querySelectorAll('#productTotal');

                var subTotal = 0;
                var total = 0;

                productTotalElements.forEach(function (productTotalElement) {
                    var productTotalValue = parseFloat(productTotalElement.innerText.replace('$', ''));

                    subTotal += productTotalValue;
                    total += productTotalValue;
                });

                var subTotalElement = document.getElementById('subTotal');
                var totalElement = document.getElementById('total');
                subTotalElement.innerText = '$' + subTotal.toFixed(2);
                totalElement.innerText = '$' + total.toFixed(2);
            });
        </script>


       <script >
        document.addEventListener("DOMContentLoaded", function () {
            console.log("working");
            var totalElement = document.getElementById("total");
            var walletAmountElement = document.getElementById("walletAmount");
            var walletError =  document.getElementById("walletError");

            var totalAmount = parseFloat(totalElement.innerHTML.replace("$", ""));
            var walletAmount = parseFloat(walletAmountElement.innerHTML.replace("Wallet amount: $", ""));

            if (totalAmount > walletAmount) {

                walletError.innerHTML = "Insufficient funds in the wallet.";

                // Disable the wallet radio button
                var walletRadioButton = document.getElementById("wallet");
                if (walletRadioButton) {
                    walletRadioButton.disabled = true;
                }
            }
        });
    </script>



        <!-- Plugins JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.hoverIntent.min.js"></script>
        <script src="/assets/js/jquery.waypoints.min.js"></script>
        <script src="/assets/js/superfish.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <!-- Main JS File -->
        <script src="/assets/js/main.js"></script>
        <%-include('../layouts/user/footer')-%>