<%-include('../layouts/user/header')-%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zoom.js/1.7.21/zoom.min.js"></script>

    </head>

    <body>
        <div class="page-wrapper">
            <%-include('../layouts/user/navbar')-%>

                <main class="main">
                    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                        <div class="container d-flex align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Products</a></li>
                            </ol>
                            <nav class="product-pager ml-auto" aria-label="Product">
                            </nav><!-- End .pager-nav -->
                        </div><!-- End .container -->
                    </nav><!-- End .breadcrumb-nav -->

                    <div class="page-content">
                        <div class="container">
                            <div class="product-details-top mb-2">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="product-gallery product-gallery-vertical">
                                            <div class="row">
                                                <figure class="product-main-image" id="product-main-image">
                                                    <img src="/assets/productImages/uploadImages/<%= product.productImages[0] %>"
                                                        alt="product image">
                                                </figure><!-- End .product-main-image -->



                                                <div class="product-image-gallery">
                                                    <% for (let i=0; i < product.productImages.length; i++) { %>
                                                        <a class="product-gallery-item "
                                                            href="/assets/productImages/uploadImages/<%= product.productImages[i] %>">
                                                            <img src="/assets/productImages/uploadImages/<%= product.productImages[i] %>"
                                                                alt="product image">
                                                        </a>
                                                        <% } %>
                                                </div><!-- End .product-image-gallery -->
                                            </div><!-- End .row -->
                                        </div><!-- End .product-gallery -->

                                    </div>


                                    <div class="col-md-6 d-flex align-items-center">
                                        <div class="product-details">
                                            <h1 class="product-title">
                                                <%= product.productName %>
                                            </h1><!-- End .product-title -->

                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2
                                                    Reviews )</a>
                                            </div><!-- End .rating-container -->

                                            <div class="product-price ">
                                                <% if (product.offer) { %>
                                                    <div class="strikePrice">
                                                        <strike>₹<%= product.price %></strike>&nbsp;
                                                    </div>
                                                    <div class="actualPrice" data-original-price="<%= product.price - (product.price * product.offer.offPercentage /
                                                   100) %>">
                                                        ₹<%= product.price - (product.price *
                                                            product.offer.offPercentage / 100) %>
                                                            <%= product.price %>
                                                    </div>
                                                    <p class="ml-5">
                                                        <%= product.offer.offPercentage %>%
                                                    </p>
                                                    <% } else { %>
                                                        <div class="actualPrice"
                                                            data-original-price="<%= product.price %>">
                                                            ₹<%= product.price %>
                                                        </div>
                                                        <%}%>
                                            </div><!-- End .product-price -->



                                            <div class="product-content">
                                                <p>
                                                    <%= product.description %>
                                                </p>
                                            </div><!-- End .product-content -->


                                            <!-- <div class="my-5">

                                                <div class="input-group product-details-quantity d-inline-flex ">
                                                    <input type="text" id="qty"
                                                        class="form-control qnty bg-primary font-weight-bold text-white"
                                                        style="height: 5.4rem;" value="1" min="1" max="10" step="1"
                                                        data-decimals="0" required readonly>
                                                    <div class="input-group-append h-25 flex-column qnty">
                                                        <button type="button" class="border-0 " style="height: 2.6rem;"
                                                            onclick="incrementQuantity()">+</button>
                                                        <button type="button" class="border-0 " style="height: 2.6rem;"
                                                            onclick="decrementQuantity()">-</button>
                                                    </div>
                                                </div>
                                            </div> -->

                                            <div class="product-details-action p-0" id="addTocart">
                                                <form action="" id="addTocart">
                                                    <a href="/shop/addProductCart/<%= product._id %>"
                                                        class="btn-product btn-cart" id="addToCartBtn"
                                                        data-weight="0.5">
                                                        <span><i id="cartIcon" class="fa-solid fa-cart-plus"></i> Add to
                                                            Cart</span>
                                                    </a>

                                                </form>
                                            </div><!-- End .product-details-action -->

                                            <div class="d-flex my-4" id="weightsContainer">
                                                <% product.weights.forEach(weight=> { %>
                                                    <div>
                                                        <button class="btns" style="min-width: 7rem;">
                                                            <%= weight.value %> kg
                                                        </button>
                                                    </div>
                                                    <% }); %>
                                            </div>

                                            <div class="product-details-footer">
                                                <div class="product-cat">
                                                    <span>Category:</span>
                                                    <a href="#">
                                                        <%= product.category.categoryName%>
                                                    </a>
                                                </div><!-- End .product-cat -->

                                            </div><!-- End .product-details-footer -->
                                        </div><!-- End .product-details -->
                                    </div><!-- End .col-md-6 -->
                                </div>
                            </div>



                            <div class="product-details-tab">
                                <ul class="nav nav-pills justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="product-info-link" data-toggle="tab"
                                            href="#product-info-tab" role="tab" aria-controls="product-info-tab"
                                            aria-selected="true">Additional information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="product-review-link" data-toggle="tab"
                                            href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                            aria-selected="false">Reviews</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="product-delivery-link" data-toggle="tab"
                                            href="#product-delivery-tab" role="tab" aria-controls="product-delivery-tab"
                                            aria-selected="false">Delivery</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="product-info-tab" role="tabpanel"
                                        aria-labelledby="product-info-link">
                                        <div>
                                            <label class="text-dark m-3">Available Kilograms : </label>
                                            <p class="d-inline"><i>
                                                    <% product.weights.forEach(weight=> { %>
                                                        <i>
                                                            <%= weight.value %> kg /
                                                        </i>
                                                        <% }); %>
                                                </i></p>
                                        </div>
                                        <div>
                                            <label class="text-dark m-3">Dimentions : </label>
                                            <p class="d-inline"><i>
                                                    <%= product.length %>cm x <%= product.base %>cm x <%= product.height
                                                                %>cm
                                                </i></p>
                                        </div>
                                        <div>
                                            <label class="text-dark m-3">Incredients : </label>
                                            <p class="d-inline">
                                                <i>
                                                    <%= product.incredients %>
                                                </i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                                        aria-labelledby="product-review-link">
                                        <p>Reviews information content goes here.</p>
                                    </div>
                                    <div class="tab-pane fade" id="product-delivery-tab" role="tabpanel"
                                        aria-labelledby="product-delivery-link">
                                        <div class="m-5">
                                            <img class="d-inline-block" src="/assets/images/icons/with 2 hour.svg"
                                                alt="">
                                            <h6 class="d-inline ml-4" style="color: gray;">Within 2 hours delivery</h6>
                                        </div>
                                        <div class="m-5">
                                            <img class="d-inline-block" src="/assets/images/icons/delivery.svg" alt="">
                                            <h6 class="d-inline ml-4" style="color: gray;">Cash on delivery</h6>
                                        </div>
                                        <div class="m-5">
                                            <img class="d-inline-block" src="/assets/images/icons/refund.svg" alt="">
                                            <h6 class="d-inline ml-4" style="color: gray;">Refund policy</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="notification-container"></div>


                        </div><!-- End .product-details-tab -->
                    </div><!-- End .container -->
        </div><!-- End .page-content -->
        </main><!-- End .main -->

        <script>
            $(document).ready(function () {
                function extractNumericPrice(priceString) {
                    return parseFloat(priceString.replace(/[^0-9.]/g, ''));
                }

                function updateProductPrice(weightValue) {
                    var strikePriceElement = $('.strikePrice');
                    var actualPriceElement = $('.actualPrice');
                    var addToCartBtn = $('#addToCartBtn');

                    var actualPriceString = actualPriceElement.attr('data-original-price');
                    var actualPrice = extractNumericPrice(actualPriceString);
                    var adjustedPrice = actualPrice * (weightValue * 2);
                    addToCartBtn.attr('data-weight', weightValue);
                    
                    if (weightValue === 0.5) {
                        strikePriceElement.show();
                    } else {
                        strikePriceElement.hide();
                    }
                    actualPriceElement.html('₹' + adjustedPrice.toFixed(2));
                }

                $('#weightsContainer').on('click', '.btns', function () {
                    $('.btns').removeClass('active-btn');
                    $(this).addClass('active-btn');
                    var weightValue = parseFloat($(this).text());
                    updateProductPrice(weightValue);
                });

                $('#weightsContainer .btns:first').trigger('click');

                $('#addToCartBtn').on('click', function (e) {
                    e.preventDefault();
                    var productId = '<%= product._id %>';
                    var price = extractNumericPrice($('.actualPrice').text());
                    var selectedWeight = $(this).attr('data-weight');

                    console.log("ProductId: " + productId);
                    console.log("Current Price: " + price);
                    console.log("Selected Weight: " + selectedWeight);

                    fetch(`/shop/addProductCart`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            productId,
                            price,
                            selectedWeight
                        })
                    }).then(response => response.json())
                        .then(result => {
                            const currentpath = window.location.pathname
                            if (result.success) {
                                $('#cartDropdown').load(`${currentpath} #cartDropdown`, function () {
							showNotification("Added to cart",true);
                                });
						} else {
							showNotification("Failed adding to cart ",false);
						}
                          
                        })
                });

                function showNotification(message, success = true) {
					const notificationContainer = document.getElementById('notification-container');
					notificationContainer.innerHTML = message;

					if (success) {
						notificationContainer.style.color = '#fff';
						notificationContainer.style.background = '#c96';
					} else {
						notificationContainer.style.color = 'red';
					}

					notificationContainer.style.display = 'block';

					setTimeout(() => {
						notificationContainer.style.display = 'none';
					}, 3000);
				}
            });
        </script>

        <!-- --------product images-------- -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const productMainImage = document.getElementById('product-main-image');
                const galleryItems = document.querySelectorAll('.product-gallery-item');

                galleryItems.forEach(function (item) {
                    item.addEventListener('click', function (event) {
                        event.preventDefault();

                        // Remove the 'active' class from all gallery items
                        galleryItems.forEach(function (item) {
                            item.classList.remove('active');
                        });

                        // Set the 'active' class for the clicked gallery item
                        this.classList.add('active');

                        const newImageSrc = this.querySelector('img').getAttribute('src');
                        productMainImage.querySelector('img').setAttribute('src', newImageSrc);
                    });
                });
            });
        </script>



        <!-- ------------for bottom tabs------------- -->
        <script>
            $(document).ready(function () {
                $('.nav-link').on('click', function (e) {
                    e.preventDefault();

                    // Remove active class from all tabs and tab content
                    $('.nav-link').removeClass('active');
                    $('.tab-pane').removeClass('show active');

                    // Add active class to the clicked tab and corresponding tab content
                    $(this).addClass('active');
                    $($(this).attr('href')).addClass('show active')
                });
            });
        </script>


        <!-- ------qnty---- -->
        <!-- <script>
            function incrementQuantity() {
                var quantityInput = document.getElementById('qty');
                var currentValue = parseInt(quantityInput.value, 10);
                if (currentValue < 10) { // Assuming the maximum quantity is 10
                    quantityInput.value = currentValue + 1;
                }
            }

            function decrementQuantity() {
                var quantityInput = document.getElementById('qty');
                var currentValue = parseInt(quantityInput.value, 10);
                if (currentValue > 1) {
                    quantityInput.value = currentValue - 1;
                }
            }
        </script> -->

        <%-include('../layouts/user/footer')-%>