<%-include('../layouts/user/header')-%>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

	</head>

	<body>
		<div class="page-wrapper">

			<%-include('../layouts/user/navbar')-%>

				<main class="main">
					<div class="page-header text-center"
						style="background-image: url('/assets/images/banners/Shop banner.jpg')">
						<div class="container">
							<h1 class="page-title">SHOP</h1>
						</div><!-- End .container -->
					</div><!-- End .page-header -->
					<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">

					</nav><!-- End .breadcrumb-nav -->

					<div class="page-content">
						<div class="container">
							<div class="row">
								<div class="col-lg-9">
									<div class="toolbox">
										<div class="container">
											<div class="row">
												<div class="col-md-6">
													<div class="header-search header-search-visible d-lg-block">
														<form action="#" method="get">
															<div class="header-search-wrapper w-75">
																<div class="input-group flex-row">
																	<input type="text" id="searchInput"
																		class="form-control" style="width: 80%;"
																		placeholder="Search cake here..." />
																	<div
																		class="input-group-append justify-content-center">
																		<button type="button"
																			style="justify-content: flex-start; height: 3.3rem;"
																			class="btn" onclick="sendRequests()">
																			<i class="fa-solid fa-magnifying-glass"
																				style="color: hsl(0, 0%, 50%);"></i>
																		</button>
																	</div>
																</div>
															</div>
														</form>
													</div>
												</div>

												<div class="col-md-6">
													<div class="toolbox-sort">
														<label for="sortby">Sort by:</label>
														<div class="select">
															<select name="sortby" id="sortby" class="form-control">
																<option value="popularity" selected="selected">Popular
																</option>
																<option value="lowToHigh">Low to High</option>
																<option value="highToLow">High to Low</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div><!-- End .toolbox -->


									<div class="products mb-3">
										<div class="row justify-content-center">
											<% for (let i of products) { %>
												<div class="col-6">
													<% if (i.offer) { %>
														<div class="ribbons-wrapper ">
															<div class="ribbon">
																<span class="ribbon2 text-white p-2 "><strong>
																		<%= i.offer.offPercentage %>% Off
																	</strong></span>
															</div>
														</div>
														<% } %>

															<div class="product product-7 text-center shadow mb-3">
																<figure class="product-media">
																	<a href="/shop/productDetails/<%= i._id %>">
																		<img src="/assets/productImages/uploadImages/<%= i.productImages[0] %>"
																			alt="Product image" class="product-image">
																	</a>

																	<div class="product-action-vertical">
																		<!-- ... (unchanged) ... -->
																	</div><!-- End .product-action-vertical -->
																	<div class="product-action">
																		<a class="btn-product" id="addTocart"
																			onclick="addTocart('<%= i._id %>')"><span>add
																				to cart </span> <i id="cartIcon" class="fa-solid fa-cart-plus"></i></a>
																	</div><!-- End .product-action -->
																</figure><!-- End .product-media -->

																<div class="product-body">
																	<div class="product-cat">
																		<a href="#">
																			<%= i.category.categoryName %>
																		</a>
																	</div><!-- End .product-cat -->
																	<h3 class="product-title">
																		<a href="product.html">
																			<%= i.productName %>
																		</a>
																	</h3><!-- End .product-title -->
																	<div class="product-price">
																		<% if (i.offer) { %>
																			<strike>₹ <%= i.price %></strike>&nbsp;
																			₹<%= i.price - (i.price *
																				i.offer.offPercentage / 100) %>
																				<% } else { %>
																					<%= i.price %>
																						<% } %>
																	</div><!-- End .product-price -->
																</div><!-- End .product-body -->
															</div><!-- End .product -->
												</div><!-- End .col-sm-6 -->
												<% } %>

										</div><!-- End .row -->
									</div><!-- End .products -->


									<nav aria-label="Page navigation">
										<ul class="pagination justify-content-center" id="pagination">
											<% if (currentPage> 1) { %>
												<li class="page-item">
													<a class="page-link page-link-prev" href="#" aria-label="Previous"
														data-page="<%= currentPage - 1 %>">
														<span aria-hidden="true"><i
																class="icon-long-arrow-left"></i></span>Prev
													</a>
												</li>
												<% } %>

													<% for (let i=1; i <=totalPages; i++) { %>
														<li class="page-item <%= i === currentPage ? 'activ' : '' %>">
															<a class="page-link" href="#" data-page="<%= i %>">
																<%= i %>
															</a>
														</li>
														<% } %>

															<% if (currentPage < totalPages) { %>
																<li class="page-item">
																	<a class="page-link page-link-next" href="#"
																		aria-label="Next"
																		data-page="<%= currentPage + 1 %>">
																		Next <span aria-hidden="true"><i
																				class="icon-long-arrow-right"></i></span>
																	</a>
																</li>
																<% } %>
										</ul>
									</nav>
								</div><!-- End .col-lg-9 -->
								<aside class="col-lg-3 order-lg-first">
									<div class="sidebar sidebar-shop">
										<div class="widget widget-clean">
											<label>Filters:</label>
											<a href="/shop">Clean All</a>
										</div><!-- End .widget widget-clean -->

										<div class="widget widget-collapsible">
											<h3 class="widget-title">
												<h5>
													Kilograms
													</h6>
											</h3><!-- End .widget-title -->

											<div class="collapse show" id="widget-1">
												<div class="widget-body">
													<div class="filter-item">
														<div class="custom-control">
															<input type="checkbox" class="Kilogram-filter"
																name="kilograms" id="kg-0.5"" value=" 0.5" />
															<label for="">
																0.5 kg
															</label>
														</div><!-- End .custom-checkbox -->
														<div class="custom-control">
															<input type="checkbox" class="Kilogram-filter"
																name="kilograms" id="kg-1.0" value="1" />
															<label for="">
																1.0 kg
															</label>
														</div><!-- End .custom-checkbox -->
														<div class="custom-control">
															<input type="checkbox" class="Kilogram-filter"
																name="kilograms" id="kg-1.5" value="1.5" />
															<label for="">
																1.5 kg
															</label>
														</div><!-- End .custom-checkbox -->
														<div class="custom-control">
															<input type="checkbox" class="Kilogram-filter"
																name="kilograms" id="kg-2.0" value="2" />
															<label for="">
																2.0 kg
															</label>
														</div><!-- End .custom-checkbox -->
													</div><!-- End .filter-item -->
												</div><!-- End .widget-body -->
											</div><!-- End .collapse -->

										</div><!-- End .widget -->

										<div class="widget widget-collapsible">
											<h3 class="widget-title">
												<h5>
													Category
												</h5>
											</h3><!-- End .widget-title -->

											<!-- Your existing EJS code -->
											<div class="collapse show" id="widget-1">
												<div class="widget-body">
													<div class="filter-items filter-items-count">
														<div class="filter-item">
															<% for(let i of category){ %>
																<div class="custom-control">
																	<input type="checkbox" class="category-filter"
																		name="categories" id="<%= i._id %>"
																		value="<%= i._id %>" />
																	<label for="">
																		<%= i.categoryName %>
																	</label>
																	<% const categoryId=i._id.toString(); const
																		categoryCount=categoryProductCount[categoryId]
																		|| 0; %>
																		<span class="item-count">
																			<%= categoryCount %>
																		</span>
																</div><!-- End .custom-checkbox -->
																<% } %>
														</div><!-- End .filter-item -->
													</div><!-- End .filter-items -->
												</div><!-- End .widget-body -->
											</div><!-- End .collapse -->


											<!-- Your existing EJS code -->


										</div><!-- End .widget -->



										<div class="widget widget-collapsible">
											<h3 class="widget-title">
												<a data-toggle="collapse" href="#widget-5" role="button"
													aria-expanded="true" aria-controls="widget-5">
													Price
												</a>
											</h3><!-- End .widget-title -->

											<div class="collapse show" id="widget-5">
												<div class="widget-body">
													<div class="filter-price">
														<div class="filter-price-text">
															Price Range:
															<span id="filter-price-range"></span>
														</div><!-- End .filter-price-text -->

														<div id="price-slider"></div><!-- End #price-slider -->
													</div><!-- End .filter-price -->
												</div><!-- End .widget-body -->
											</div><!-- End .collapse -->
										</div><!-- End .widget -->
									</div><!-- End .sidebar sidebar-shop -->
								</aside><!-- End .col-lg-3 -->
							</div><!-- End .row -->
						</div><!-- End .container -->
					</div><!-- End .page-content -->
				</main><!-- End .main -->


		</div><!-- End .page-wrapper -->
		<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

		<div id="notification-container"></div>



		<!-- Sign in / Register Modal -->


		<!-- Plugins JS File -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.hoverIntent.min.js"></script>
		<script src="/assets/js/jquery.waypoints.min.js"></script>
		<script src="/assets/js/superfish.min.js"></script>
		<script src="/assets/js/owl.carousel.min.js"></script>
		<script src="/assets/js/bootstrap-input-spinner.js"></script>
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="/assets/js/wNumb.js"></script>
		<script src="/assets/js/nouislider.min.js"></script>
		<!-- Main JS File -->
		<script src="/assets/js/main.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


		<!-- -----------------Add to cart----------------------- -->
		<script>
			function addTocart(productId) {
				console.log(productId);
				fetch(`/shop/addProductCart`, {
					method: 'POST',
					headers: {
						"Content-type": "application/json"
					},
					body:  JSON.stringify({ productId })
				})
				.then(response => response.json())
                    .then(data => {
						console.log(data);
						if (data.success) {
							$('#cartDropdown').load('/home #cartDropdown', function () {
							showNotification("Added to cart",true);
                        });
						} else {
							$('#cartDropdown').load('/home #cartDropdown', function () {
								showNotification("Failed adding to cart ",false);
                        });
						}
					})
					.catch(error => {
						console.error('Fetch error:', error);
					});
				}

				function showNotification(message, success = true) {
					const notificationContainer = document.getElementById('notification-container');
					notificationContainer.innerHTML = message;

					if (success) {
						notificationContainer.style.color = '#fff';
						notificationContainer.style.background = '#c96';
					} else {
						notificationContainer.style.color = 'red';
					}

					notificationContainer.style.display = 'block';

					setTimeout(() => {
						notificationContainer.style.display = 'none';
					}, 3000);
				}
		</script>

		<!-- ------------ filtering------------- -->
		<script>
				$(document).ready(function () {
					var currentPage;
					var selectedCategory;
					var selectedKilogram;
					var selectedSort = 'popularity';


					// --------searchTerm-----
					$('#searchInput').on('keyup', function () {
						setTimeout(sendRequests, 300);
					});

					// ------categoryFiltering------
					$('.category-filter').on('change', function () {
						selectedCategory = updateProductList();
						sendRequests();
					});

					// ---------sorting-----
					$('#sortby').on('change', function () {
						selectedSort = $(this).val();
						sendRequests();
					});

					// -------kilogram-filtering-----
					$('.Kilogram-filter').on('change', function () {
						selectedKilogram = $(this).val()
						sendRequests();
					});

					//   ---pagination----
					$(document).on('click', '.pagination a.page-link', function (e) {
						e.preventDefault();
						currentPage = $(this).data('page');
						selectedCategory = updateProductList();
						sendRequests();

						$('html, body').animate({ scrollTop: 0 }, 'slow');
					});

					function updateProductList() {
						const selectedCategories = $('.category-filter:checked').map(function () {
							return $(this).val();
						}).get();
						return selectedCategories;
					}

					// -------Request Sending ajax for all--------
					function sendRequests() {
						var searchTerm = $('#searchInput').val();
						var data = {
							category: selectedCategory,
							sort: selectedSort,
							page: currentPage,
							kilogram: selectedKilogram,
							q: searchTerm
						};
						$.ajax({
							url: '/shop',
							method: 'GET',
							data: data,
							dataType: 'json',
							success: function (data) {
								console.log("sdfasfd");
								console.log("Success:", data);
								const products = data.products;
								const productsContainer = $('.products');
								productsContainer.empty();
								const rowContainer = $('<div class="row justify-content-center"></div>');
								products.forEach(product => {
									const productElement = $(

										`<div class="col-6">
            ${product.offer ? `
                <div class="ribbons-wrapper">
                    <div class="ribbon">
                        <span class="ribbon2 text-white p-2 "><strong>${product.offer.offPercentage}% Off</strong></span>
                    </div>
                </div>` : ''}
            <div class="product product-7 text-center shadow-lg" data-product-id="${product._id}">
                <figure class="product-media">
                    <a href="/shop/productDetails/${product._id}">
                        <img src="/assets/productImages/uploadImages/${product.productImages[0]}" alt="Product image" class="product-image">
                    </a>
                    <div class="product-action-vertical">
                        <!-- Add your vertical actions here if needed -->
                    </div><!-- End .product-action-vertical -->
                    <div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->
                <div class="product-body">
                    <div class="product-cat">
                        <a href="#">
                            ${product.category.categoryName}
                        </a>
                    </div><!-- End .product-cat -->
                    <h3 class="product-title">
                        <a href="product.html">${product.productName}</a>
                    </h3><!-- End .product-title -->
                    <div class="product-price">
						${product.offer ? `
                       <strike> ₹ ${product.price}</strike>
					   &nbsp ₹${product.price - (product.price * product.offer.offPercentage / 100)}`
											: `₹${product.price}`}
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
            </div><!-- End .product -->
        </div><!-- End .col-6 -->`

									);
									rowContainer.append(productElement);
								});

								productsContainer.append(rowContainer);
								$('.cartCount').text(data.totalProductsCart);
   								 $('.cartTxt').text(`₹${data.cartSum}`);

							},
							error: function (error) {
								console.error('Error fetching products:', error);
								
							}
						});
					}
				});

		</script>


		<%-include('../layouts/user/footer')-%>