<%-include('../layouts/user/header')-%>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    </head>

    <body>
        <div class="page-wrapper">
            <%-include('../layouts/user/navbar')-%>

                <main class="main">
                    <div class="page-header text-center"
                        style="background-image: url('/assets/images/page-header-bg.jpg')">
                        <div class="container">
                            <h1 class="page-title">My Account<span>Frost-Bay</span></h1>
                        </div><!-- End .container -->
                    </div><!-- End .page-header -->
                    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                        <div class="container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">My Account</li>
                            </ol>
                        </div><!-- End .container -->
                    </nav><!-- End .breadcrumb-nav -->



                    <div class="page-content">
                        <div class="dashboard">
                            <div class="container">
                                <div class="row">
                                    <aside class="col-md-4 col-lg-3">
                                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="tab-orders-link" data-toggle="tab"
                                                    href="#tab-orders" role="tab" aria-controls="tab-orders"
                                                    aria-selected="false">Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link " id="tab-dashboard-link" data-toggle="tab"
                                                    href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                                    aria-selected="true">Edit profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tab-address-link" data-toggle="tab"
                                                    href="#tab-address" role="tab" aria-controls="tab-address"
                                                    aria-selected="false">Adresses</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tab-wallet-link" data-toggle="tab"
                                                    href="#tab-wallet" role="tab" aria-controls="tab-wallet"
                                                    aria-selected="false">Wallet</a>
                                            </li>
                                            <li class="nav-item">

                                                <a class="nav-link" onclick="confirmLogout()" href="/logout">Sign
                                                    Out</a>
                                            </li>
                                        </ul>
                                    </aside><!-- End .col-lg-3 -->

                                    <div class="col-md-8 col-lg-9">
                                        <div class="tab-content">
                                            <div class="tab-pane fade " id="tab-dashboard" role="tabpanel"
                                                aria-labelledby="tab-dashboard-link">
                                                <!-- Content specific to the Edit Profile tab -->
                                                <form class="form" action="/account/editUser" method="post"
                                                    id="editform" enctype="multipart/form-data">
                                                    <div class="d-flex flex-column align-items-center">
                                                        <div class="profile-image-container">
                                                            <img id="profileImage"
                                                                src="/assets/userImages/croppedImages/<%= user.userImage %>"
                                                                class="avatar img-circle img-thumbnail" alt="avatar">
                                                        </div>
                                                        <label for="fileInput" class="change-profile-label">
                                                            <i>Change profile image</i>
                                                            <i class="fa-solid fa-pen fa-sm d-inline-block"
                                                                style="color: #cc9966;"></i>
                                                        </label>
                                                        <input type="file" name="userImage" id="fileInput" class=""
                                                            style="display:none;" onchange="displayImage()">
                                                    </div>


                                                    <!-- -------Form----- -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="home">
                                                            <hr>

                                                            <!-- Name Field -->
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="name">
                                                                        <h6>Name</h6>
                                                                    </label>
                                                                    <input type="text" value="<%= user.name %>"
                                                                        class="form-control m-0" id="name" name="name"
                                                                        placeholder="Enter name">
                                                                    <p class="m-0 text-danger" id="nameError"></p>
                                                                </div>

                                                                <!-- Email Field -->
                                                                <div class="form-group col-md-6">
                                                                    <label for="email">
                                                                        <h6>Email</h6>
                                                                    </label>
                                                                    <input type="" value="<%= user.email %>"
                                                                        class="form-control m-0" id="email" name="email"
                                                                        placeholder="you@email.com" disabled>
                                                                    <p class="m-0 text-danger" id="emailError"></p>
                                                                </div>
                                                            </div>

                                                            <!-- Phone Field -->
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <label for="phone">
                                                                        <h6>Phone</h6>
                                                                    </label>
                                                                    <input type="text" value="<%= user.phone %>"
                                                                        class="form-control m-0" id="phone" name="phone"
                                                                        placeholder="Enter phone">
                                                                    <p class="m-0 text-danger" id="phoneError"></p>
                                                                </div>

                                                                <!-- Location Field -->
                                                                <div class="form-group col-md-6">
                                                                    <label for="location">
                                                                        <h6>Location</h6>
                                                                    </label>
                                                                    <select id="location" name="location"
                                                                        class="form-control">
                                                                        <option value="Kerala" <% if
                                                                            (user.location==='Kerala' ) { %> selected
                                                                            disabled <% } %>>Kerala</option>
                                                                        <option value="Banglore" <% if
                                                                            (user.location==='Banglore' ) { %> selected
                                                                            disabled <% } %>>Banglore</option>
                                                                        <option value="Chennai" <% if
                                                                            (user.location==='Chennai' ) { %> selected
                                                                            disabled <% } %>>Chennai</option>
                                                                        <option value="Kochi" <% if
                                                                            (user.location==='Kochi' ) { %> selected
                                                                            disabled <% } %>>Kochi</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <i class="fa-solid fa-unlock fa-sm"
                                                                    style="color: #cc9966;"></i>
                                                                <p for="fileInput" class="change-profile-label"><i>
                                                                        Reset Password ?</i></p>
                                                            </div>

                                                            <!-- Validation Error Messages -->
                                                            <div id="errorMessages" class="text-danger"></div>

                                                            <!-- Submit Button -->
                                                            <div class="form-group d-flex flex-column align-items-end">
                                                                <div class="col-xs-12">
                                                                    <br>
                                                                    <button class="btn btn-lg btn-success"
                                                                        type="submit">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <hr>
                                            </div><!--/tab-pane-->


                                            <div class="tab-pane fade show active" id="tab-orders" role="tabpanel"
                                                aria-labelledby="tab-orders-link">
                                                <h5 class="text-center">Orders</h5>
                                                <% if(orders.length>0){ %>
                                                    <table class="table table-wishlist table-no-padding">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% orders.forEach(function(order) {
                                                                order.orderedProducts.forEach(function(product) { %>
                                                                <tr class="text-center">
                                                                    <td class="p-0">
                                                                        <div class="">
                                                                            <figure class="d-inline-block">
                                                                                <a href="#">
                                                                                    <div class="p-2"
                                                                                        style="height:60px ; width: 60px;">
                                                                                        <img src="/assets/productImages/uploadImages/<%= product.productDetails.productImage%>"
                                                                                            alt="<%= product.productDetails.name %>">
                                                                                    </div>
                                                                                </a>
                                                                            </figure>
                                                                        </div>
                                                                    </td>
                                                                    <td class="product-name" style="cursor: pointer;"
                                                                        data-toggle="modal"
                                                                        data-target="#orderDetailsModal"
                                                                        data-product-image="<%= product.productDetails.productImage%>"
                                                                        data-product-quantity="<%= product.quantity %>"
                                                                        data-product-name="<%= product.productDetails.name %>"
                                                                        data-purchase-date="<%= order.purchaseDate %>"
                                                                        data-total-amount="<%= order.totalAmount %>"
                                                                        data-payment-method="<%= order.paymentMethod %>"
                                                                        data-status="<%= order.status %>">
                                                                        <h6>
                                                                            <%= product.productDetails.name %>
                                                                        </h6>
                                                                    </td>
                                                                    <td id="status">
                                                                        <% if(product.status=="Placed" ){ %>
                                                                            <p class="rounded-pill" id="placed">
                                                                                <%= product.status %>
                                                                            </p>
                                                                            <% }else if(product.status=="On the way" ){
                                                                                %>
                                                                                <p class="rounded-pill" id="onTheWay">
                                                                                    <%= product.status %>
                                                                                </p>
                                                                                <% }else if(product.status=="Refunded"
                                                                                    ){ %>
                                                                                    <p class="rounded-pill" id="refund">
                                                                                        <%= product.status %>
                                                                                    </p>
                                                                                    <% }else
                                                                                        if(product.status=="Cancelled"
                                                                                        ){ %>
                                                                                        <p class="rounded-pill"
                                                                                            id="cancelled">
                                                                                            <%= product.status %>
                                                                                        </p>
                                                                                        <% }else
                                                                                            if(product.status=="Delivered"
                                                                                            ){%>
                                                                                            <p class="rounded-pill"
                                                                                                id="delivered">
                                                                                                <%= product.status %>
                                                                                            </p>
                                                                                            <% }else{ %>
                                                                                                <p class="text-primary">
                                                                                                    <%= product.status
                                                                                                        %>
                                                                                                </p>
                                                                                                <% } %>
                                                                    </td>
                                                                    <td>
                                                                        <span class="text-info">
                                                                            On <%= product.stausUpdatedDate %>
                                                                        </span>
                                                                    </td>
                                                                    <td class="">
                                                                        <% const now=new Date(); const
                                                                            purchaseDateTime=new
                                                                            Date(`${order.purchaseDate}
                                                                            ${order.purchaseTime}`); const
                                                                            timeDifference=(now - purchaseDateTime) /
                                                                            (1000 * 60); const
                                                                            minutesDifference=Math.floor(timeDifference);
                                                                            if (product.status==="Placed" ) { %>
                                                                            <a class="text-danger"
                                                                                style="cursor: pointer;"
                                                                                onclick="cancelOrder('<%= product.productId %>','<%= order._id %>')">Cancel</a>
                                                                            <% } else if (product.status==="Delivered"
                                                                                && minutesDifference <=1440) { %>
                                                                                <!-- 1440 minutes = 24 hours -->
                                                                                <a class="text-primary"
                                                                                    id="requestStatus"
                                                                                    style="cursor: pointer;"
                                                                                    onclick="refundRequest('<%= order._id %>','<%= product.productId %>')">Refund
                                                                                    request <i
                                                                                        class="fa-sharp fa-solid fa-rotate-left"
                                                                                        style="color: #cc9966;"></i></a>
                                                                                <% } %>
                                                                </tr>
                                                                <% }); %>

                                                                    <% }); %>
                                                                        <!-- Add more rows as needed -->
                                                        </tbody>
                                                    </table>
                                                    <% }else{%>

                                                        <div class="d-flex flex-column  align-items-center">
                                                            <div>
                                                                <h5 style="color: gray;">OOPS!..Nothing is here</h5>
                                                            </div>
                                                            <div>
                                                                <a href="/shop"
                                                                    class=" btn btn-secondary position-relative">Shop</a>
                                                            </div>


                                                        </div>
                                                        <% } %>
                                                            <!-- End .table table-wishlist -->
                                            </div>



                                            <!-- -------------Modal for Order Details-------------- -->
                                            <div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog"
                                                aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="orderDetailsModalLabel">Order
                                                                Details</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body m-3">
                                                            <!-- Order details content using data attributes -->

                                                            <p><strong>Product Image:</strong>
                                                            <div class="product-image">
                                                                <img id="modal-product-image" class="w-25 m-4" src=""
                                                                    alt="Product Image">
                                                            </div>
                                                            </p>
                                                            <p><strong>Product Name:</strong> <span
                                                                    id="modal-product-name"></span></p>
                                                            <p><strong>Product Quantity:</strong> <span
                                                                    id="modal-product-quantity"></span></p>
                                                            <p><strong>Purchase Date:</strong> <span
                                                                    id="modal-purchase-date"></span></p>
                                                            <p><strong>Total Amount:</strong> $<span
                                                                    id="modal-total-amount"></span></p>
                                                            <p><strong>Payment Method:</strong> <span
                                                                    id="modal-payment-method"></span></p>
                                                            <p><strong>Status:</strong> <span id="modal-status"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- -------------------------------Modal for refund request------------------------------ -->
                                            <div class="modal fade" id="refundRequestModal" tabindex="-1" role="dialog"
                                                aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="orderDetailsModalLabel">Refund
                                                                request</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body m-3">
                                                            <p style="color: #0a9538;font-style: italic;">Honesty
                                                                Appreciated: We believe you! Get your full refund
                                                                with no fuss. Just share a pic & reason, and your next
                                                                slice
                                                                comes with a sweet discount. Cheers!</p>
                                                            <form action="" class="m-3">
                                                                <label for="">Cake image(damage) <span
                                                                        class="text-danger">*</span></label>
                                                                <div class="row justify-content-center">
                                                                    <div class="col-md-6"
                                                                        style="text-align:-webkit-center; border: 1px solid #ccc;">
                                                                        <input type="file"
                                                                            class="h-100 position-absolute "
                                                                            style="left: 0;opacity: 0;"
                                                                            name="damageCakeImage" required>
                                                                        <img src="/assets/images/icons/imageUploader.png"
                                                                            alt="" class="img-fluid">
                                                                        <p>Upload your cake image</p>

                                                                    </div>
                                                                    <div class="col-md-6 ">
                                                                        <textarea class="pl-2 w-100 h-100"
                                                                            name="reasonNote" id=""
                                                                            placeholder="Drop your reason here..."
                                                                            required></textarea>
                                                                    </div>
                                                                    <button type="submit"
                                                                        class="btn btn-primary mt-2">Send
                                                                        request</button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                                aria-labelledby="tab-address-link">
                                                <div id="addressTab">
                                                    <div class="d-flex justify-content-end">
                                                        <p>
                                                            <button class="text-dark border-0 shadow"
                                                                data-toggle="modal" data-target="#addAddressModal">
                                                                <i class="fa-sharp fa-solid fa-circle-plus"
                                                                    style="color: #2bc752;"></i> Add address
                                                            </button>
                                                        </p>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <% for( let i=0 ; i < address.length ; i++) { %>
                                                            <div class="col-lg-6">
                                                                <div class="card card-dashboard shadow">
                                                                    <!-- Add the shadow class to the card -->
                                                                    <div class="card-body pr-0 py-0">
                                                                        <h3 class="card-title d-inline">Address <%= i+1
                                                                                %>
                                                                                <%if(address[i].default==true){%>
                                                                                    <span class="text-info"
                                                                                        style="font-size: x-small;">default</span>
                                                                                    <%}%>
                                                                        </h3>
                                                                        <button class="float-right delete p-0"><i
                                                                                class="fas fa-trash"
                                                                                onclick="showConfirmationModal('<%= address[i]._id %>')"></i></button>
                                                                        <p class="m-0">
                                                                            <%= address[i].name %><br>
                                                                                <%= address[i].company %>
                                                                                    <%= address[i].houseName %> <br>
                                                                                        <%= address[i].appartmentNumber
                                                                                            %>,
                                                                                            <%=address[i].city %><br>
                                                                                                <%= address[i].state%>,
                                                                                                    <%=address[i].country
                                                                                                        %>
                                                                                                        <br>
                                                                                                        <%=
                                                                                                            address[i].zipcode%>
                                                                                                            <br>
                                                                                                            <%=
                                                                                                                address[i].email%>
                                                                                                                <br>
                                                                                                                <%=address[i].phone%>
                                                                                                                    <br>
                                                                                                                    <a href="#"
                                                                                                                        onclick="showEditAddressModal('<%= address[i].name %>','<%= address[i].company %>','<%= address[i].country %>', '<%= address[i].houseName %>', '<%= address[i].appartmentNumber %>', '<%= address[i].city %>', '<%= address[i].state %>', '<%= address[i].zipcode %>', '<%= address[i].phone %>', '<%= address[i].email %>','<%= address[i]._id %>','<%= address[i].default %>')">Edit
                                                                                                                        <i class="fa-sharp fa-solid fa-pen"
                                                                                                                            style="color: #cc9966;"></i></a>
                                                                        </p>
                                                                    </div><!-- End .card-body -->
                                                                </div><!-- End .card-dashboard -->
                                                            </div><!-- End .col-lg-6 -->
                                                            <%}%>
                                                    </div>
                                                    <% if(address.length < 1){ %>
                                                        <h6 style="color: gray;" class="text-center">No addresses..!
                                                        </h6>
                                                        <%}%>
                                                </div>
                                            </div>


                                            <div class="tab-pane fade" id="tab-wallet" role="tabpanel"
                                                aria-labelledby="tab-wallet-link">
                                                <div class="card card-dashboard m-0 shadow-lg"
                                                    style="background-image: url(/assets/images/banners/Wallet\ Banner.png.webp);">
                                                    <h3 class="text-light ls-3" style="margin: 6rem;">Wallet</h3>
                                                </div>
                                                <div class="card card-dashboard p-4 shadow">
                                                    <h5 style="color: grey;">Wallet amount : <span class="text-dark">₹
                                                            <%= user.wallet.balance %>.00</span></h5>

                                                    <!-- <h5><%= user.wallet %></h5> -->
                                                    <a href="" class="" style="color: gray;"><i
                                                            class="fa-regular fa-square-plus  fa-la pr-2"
                                                            style="color: #cc9966;"></i>Add money to wallet</a>
                                                    <a href="#" class="" style="color: gray;" data-toggle="modal"
                                                        data-target="#transationDetailsModal" <i
                                                        class="fa-solid fa-clock-rotate-left fa-la"
                                                        style="color: #cc9966;"></i> Transaction history
                                                    </a>
                                                </div>
                                            </div>


                                            <!-- -------------Modal for Transation  historys-------------- -->
                                            <div class="modal fade" id="transationDetailsModal" tabindex="-1"
                                                role="dialog" aria-labelledby="orderDetailsModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content" style="background-color: antiquewhite;">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="orderDetailsModalLabel">
                                                                Transaction history</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body m-3" >
                                                            <div class="container w-100">
                                                                <% user.wallet.transactionHistory.forEach(transaction => { %>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <p class="text-dark"><%= transaction.direction %> to <%= transaction.type %></p>
                                                                        <p><%= transaction.transactionDate %></p>
                                                                        <p>Transaction id : <%= transaction._id %></p>
                                                                    </div>
                                                                    <div class="col-md-6 d-flex justify-content-end align-items-center" style="text-align: end;">
                                                                        <h6 class="<%= transaction.direction === 'paid' ? 'text-danger' : 'text-success' %>
                                                                            <%= transaction.direction === 'Paid' ? 'text-danger' : 'text-success' %>">
                                                                            <%= transaction.direction === 'Paid' ? '-' : '+' %><%= transaction.amount %>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <hr class=" my-2" style="border-top: 1px solid #8e8e8e;">
                                                                <% }); %>
                                                            </div>




                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div><!-- .End .tab-pane -->
                                    </div> <!-- col -->
                                </div><!-- End .row -->
                            </div><!-- End .container -->
                        </div><!-- End .dashboard -->
                    </div><!-- .End .page-content -->
                </main><!-- End .main -->

                <footer class="footer">
                    <div class="footer-middle">
                        <div class="container">m
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget widget-about">
                                        <img src="/assets/images/logo.png" class="footer-logo" alt="Footer Logo"
                                            width="105" height="25">
                                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu
                                            vulputate
                                            magna eros eu erat. </p>

                                        <div class="social-icons">
                                            <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                                    class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                                    class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                                    class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                                    class="icon-youtube"></i></a>
                                            <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                                    class="icon-pinterest"></i></a>
                                        </div><!-- End .soial-icons -->
                                    </div><!-- End .widget about-widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="about.html">About Molla</a></li>
                                            <li><a href="#">How to shop on Molla</a></li>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                            <li><a href="login.html">Log in</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Payment Methods</a></li>
                                            <li><a href="#">Money-back guarantee!</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Shipping</a></li>
                                            <li><a href="#">Terms and conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                        <ul class="widget-list">
                                            <li><a href="#">Sign In</a></li>
                                            <li><a href="cart.html">View Cart</a></li>
                                            <li><a href="#">My Wishlist</a></li>
                                            <li><a href="#">Track My Order</a></li>
                                            <li><a href="#">Help</a></li>
                                        </ul><!-- End .widget-list -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-sm-6 col-lg-3 -->
                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .footer-middle -->

                    <div class="footer-bottom">
                        <div class="container">
                            <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                            <!-- End .footer-copyright -->
                            <figure class="footer-payments">
                                <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                            </figure><!-- End .footer-payments -->
                        </div><!-- End .container -->
                    </div><!-- End .footer-bottom -->
                </footer><!-- End .footer -->
        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <div class="mobile-menu-container">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>

                <form action="#" method="get" class="mobile-search">
                    <label for="mobile-search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                        placeholder="Search in..." required>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>

                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="index.html">Home</a>

                            <ul>
                                <li><a href="index-1.html">01 - furniture store</a></li>
                                <li><a href="index-2.html">02 - furniture store</a></li>
                                <li><a href="index-3.html">03 - electronic store</a></li>
                                <li><a href="index-4.html">04 - electronic store</a></li>
                                <li><a href="index-5.html">05 - fashion store</a></li>
                                <li><a href="index-6.html">06 - fashion store</a></li>
                                <li><a href="index-7.html">07 - fashion store</a></li>
                                <li><a href="index-8.html">08 - fashion store</a></li>
                                <li><a href="index-9.html">09 - fashion store</a></li>
                                <li><a href="index-10.html">10 - shoes store</a></li>
                                <li><a href="index-11.html">11 - furniture simple store</a></li>
                                <li><a href="index-12.html">12 - fashion simple store</a></li>
                                <li><a href="index-13.html">13 - market</a></li>
                                <li><a href="index-14.html">14 - market fullwidth</a></li>
                                <li><a href="index-15.html">15 - lookbook 1</a></li>
                                <li><a href="index-16.html">16 - lookbook 2</a></li>
                                <li><a href="index-17.html">17 - fashion store</a></li>
                                <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                                <li><a href="index-19.html">19 - games store</a></li>
                                <li><a href="index-20.html">20 - book store</a></li>
                                <li><a href="index-21.html">21 - sport store</a></li>
                                <li><a href="index-22.html">22 - tools store</a></li>
                                <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                                <li><a href="index-24.html">24 - extreme sport store</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">Shop</a>
                            <ul>
                                <li><a href="category-list.html">Shop List</a></li>
                                <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                                <li><a href="category.html">Shop Grid 3 Columns</a></li>
                                <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                                <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span
                                                class="tip tip-hot">Hot</span></span></a></li>
                                <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                                <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                                <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span
                                                class="tip tip-new">New</span></span></a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="#">Lookbook</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="product.html" class="sf-with-ul">Product</a>
                            <ul>
                                <li><a href="product.html">Default</a></li>
                                <li><a href="product-centered.html">Centered</a></li>
                                <li><a href="product-extended.html"><span>Extended Info<span
                                                class="tip tip-new">New</span></span></a></li>
                                <li><a href="product-gallery.html">Gallery</a></li>
                                <li><a href="product-sticky.html">Sticky Info</a></li>
                                <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                                <li><a href="product-fullwidth.html">Full Width</a></li>
                                <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li>
                                    <a href="about.html">About</a>

                                    <ul>
                                        <li><a href="about.html">About 01</a></li>
                                        <li><a href="about-2.html">About 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>

                                    <ul>
                                        <li><a href="contact.html">Contact 01</a></li>
                                        <li><a href="contact-2.html">Contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="404.html">Error 404</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>

                            <ul>
                                <li><a href="blog.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                        <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                        <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                        <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                        <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single Post</a>
                                    <ul>
                                        <li><a href="single.html">Default with sidebar</a></li>
                                        <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                        <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements-list.html">Elements</a>
                            <ul>
                                <li><a href="elements-products.html">Products</a></li>
                                <li><a href="elements-typography.html">Typography</a></li>
                                <li><a href="elements-titles.html">Titles</a></li>
                                <li><a href="elements-banners.html">Banners</a></li>
                                <li><a href="elements-product-category.html">Product Category</a></li>
                                <li><a href="elements-video-banners.html">Video Banners</a></li>
                                <li><a href="elements-buttons.html">Buttons</a></li>
                                <li><a href="elements-accordions.html">Accordions</a></li>
                                <li><a href="elements-tabs.html">Tabs</a></li>
                                <li><a href="elements-testimonials.html">Testimonials</a></li>
                                <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                <li><a href="elements-portfolio.html">Portfolio</a></li>
                                <li><a href="elements-cta.html">Call to Action</a></li>
                                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->

                <div class="social-icons">
                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->



        <!-- -----------------Address deletion Modal------------ -->
        <!-- Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                        <i data-bs-dismiss="modal" class="fa-light fa-x " style="color: #000000;"></i>
                    </div>
                    <div class="modal-body pl-3">
                        Are you sure you want to Delete this address?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="confirmDeleteAddress()">Remove</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- ----------------ADD-ADDress-Modal------ -->
        <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modalbody p-4">
                        <form id="addressForm">
                            <!-- Form fields go here -->
                            <div class="form-group">
                                <label for="name">Name*</label>
                                <p class="text-danger d-inline" id="nameError"></p>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="company">Company Name(optional)</label>
                                <input type="text" class="form-control" id="company" name="company">
                            </div>

                            <div class="form-group">
                                <label for="country">Country*</label>
                                <p class="text-danger d-inline" id="countryError"></p>
                                <input type="text" class="form-control" id="country" name="country">
                            </div>

                            <div class="form-group">
                                <label for="street">Street Address*</label>
                                <input type="text" class="form-control" id="houseNo" name="houseName"
                                    placeholder="House number and street name">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="appartment" name="appartment"
                                    placeholder="Apartments, suite, unit, etc..">
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="city">Town/City*</label>
                                    <input type="text" class="form-control" id="city" name="city">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="state">State*</label>
                                    <input type="text" class="form-control" id="state" name="state">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 ">
                                    <label for="postcode">Postcode/zip*</label>
                                    <p class="text-danger d-inline" id="postcodeError"></p>
                                    <input type="text" class="form-control" id="postcode" name="postcode">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="phone">Phone*</label>
                                    <p class="text-danger d-inline" id="phoneError"></p>
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">Email Address*</label>
                                <p class="text-danger d-inline" id="emailError"></p>
                                <input type="" class="form-control" id="email" name="email">
                            </div>

                            <div class="form-group">
                                <input type="checkbox" id="default" value="true" name="default" class="bg-primary">
                                <label for="">Default address</label>
                            </div>

                            <div class="form-group text-center ">
                                <button type="submit" class="btn btn-primary rounded">Save Address</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Address Modal -->
        <div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-4">
                        <!-- Form fields for editing address details go here -->
                        <form id="editAddressForm">
                            <div class="mb-3">
                                <label for="editName" class="form-label">Name*</label>
                                <p class="text-danger d-inline" id="nameError"></p>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="editCompany" class="form-label">Company Name (optional)</label>
                                <input type="text" class="form-control" id="company" name="company">
                            </div>
                            <div class="mb-3">
                                <label for="editCountry" class="form-label">Country*</label>
                                <p class="text-danger d-inline" id="countryError"></p>
                                <input type="text" class="form-control" id="country" name="country">
                            </div>
                            <!-- Repeat for other address fields -->
                            <div class="mb-3">
                                <!-- Add other fields as needed -->
                                <label for="editStreet" class="form-label">Street Address*</label>
                                <input type="text" class="form-control" id="houseName" name="houseName"
                                    placeholder="House number and street name">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="appartment" name="appartment"
                                    placeholder="Apartments, suite, unit, etc..">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="editCity">Town/City*</label>
                                    <input type="text" class="form-control" id="city" name="city">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="editState">State*</label>
                                    <input type="text" class="form-control" id="state" name="state">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="editPostcode">Postcode/ZIP*</label>
                                    <p class="text-danger d-inline" id="postcodeError"></p>
                                    <input type="text" class="form-control" id="postcode" name="postcode">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="editPhone">Phone*</label>
                                    <p class="text-danger d-inline" id="phoneError"></p>
                                    <input type="text" class="form-control" id="phone" name="addressId">
                                </div>

                                <input type="text" class="form-control" style="display: none;" id="addressId"
                                    name="addressId">

                            </div>

                            <div class="form-group">
                                <label for="editEmail">Email Address*</label>
                                <p class="text-danger d-inline" id="emailError"></p>
                                <input type="" class="form-control" id="email" name="email">
                            </div>

                            <div class="form-group">
                                <input type="checkbox" id="isdefault" name="isDefault">
                                <label for="default">Default address</label>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary rounded"
                                    data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary rounded">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="notification-container"></div>


        <!-- Plugins JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/jquery.hoverIntent.min.js"></script>
        <script src="/assets/js/jquery.waypoints.min.js"></script>
        <script src="/assets/js/superfish.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <!-- Main JS File -->
        <script src="/assets/js/main.js"></script>




        <!-- --------------Refund request------------- -->
        <script>
            function refundRequest(orderId, productId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Do you want to send a refund request for this order?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#7ac093',
                    confirmButtonText: 'Yes, send refund request!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#refundRequestModal').modal({
                            backdrop: 'static',
                            keyboard: false
                        }).modal('show');

                        $('#refundRequestModal').on('hidden.bs.modal', function () {
                            location.reload();
                        });

                        $('#refundRequestModal form').submit(function (event) {
                            event.preventDefault();

                            const formData = new FormData(this);
                            formData.append('orderId', orderId);
                            formData.append('productId', productId);

                            $.ajax({
                                url: '/account/refundRequest',
                                type: 'POST',
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    console.log(response);
                                    if (response.success) {
                                        Swal.fire({
                                            title: 'Refund request sent!',
                                            text: "We'll review your request and get back to you shortly.",
                                            icon: 'success'
                                        }).then(() => {
                                            $('#refundRequestModal').modal('hide');
                                            location.reload();
                                        });

                                    } else {
                                        Swal.fire({
                                            title: 'Oops!',
                                            text: response.message || 'There was an error processing your request. Please try again.',
                                            icon: 'error'
                                        });
                                    }
                                },
                                error: function (error) {
                                    Swal.fire({
                                        title: 'Oops!',
                                        text: 'There was an error sending your request. Please check your internet connection and try again.',
                                        icon: 'error'
                                    });
                                }
                            });

                        });
                    }
                });
            }
            //    -----------showing image on div--------[]
            const input = document.querySelector('.col-md-6 input[type="file"]');
            const image = document.querySelector('.col-md-6 img');

            input.addEventListener('change', (event) => {
                const file = event.target.files[0];

                if (file) {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        image.src = event.target.result;
                        image.style.width = '100%';
                        image.style.height = '100%';
                        image.style.objectFit = 'cover';
                    };
                    reader.readAsDataURL(file);
                } else {

                    image.src = '/assets/images/icons/imageUploader.png';
                    image.style.width = 'auto';
                    image.style.height = 'auto';
                }
            });


        </script>
        <!-- -------order cancelation-------- -->
        <script>
            function cancelOrder(productId, orderId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Do you wan\'t  cancel this order!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#7ac093',
                    confirmButtonText: 'Yes, cancel Order!'
                }).then((result) => {
                    if (result.isConfirmed) {

                        fetch(`/account/cancelOrderItem`, {
                            method: 'DELETE',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ productId, orderId })
                        })
                            .then(response => response.json())
                            .then(data => {

                                if (data.success) {
                                    $('#tab-orders').load('/account #tab-orders');
                                }
                            })
                        Swal.fire('Cancelled!', 'Your order has been cancelled.', 'success');
                    }
                });
            }

        </script>


        <!--  set the modal with orders content dynamically -->
        <script>
            $(document).on('click', '.product-name', function () {
                var productImage = $(this).data('product-image');
                var productName = $(this).data('product-name');
                var productQuantity = $(this).data('product-quantity');
                var purchaseDate = $(this).data('purchase-date');
                var totalAmount = $(this).data('total-amount');
                var paymentMethod = $(this).data('payment-method');
                var status = $(this).data('status');


                // Set the modal content dynamically
                $('#modal-product-image').attr('src', "/assets/productImages/uploadImages/" + productImage);
                $('#modal-product-quantity').text(productQuantity);
                $('#modal-product-name').text(productName);
                $('#modal-purchase-date').text(purchaseDate);
                $('#modal-total-amount').text(totalAmount);
                $('#modal-payment-method').text(paymentMethod);
                $('#modal-status').text(status);
            });
        </script>

        <!-- ----------------Edit Addres-------------------- -->
        <script>
            function showEditAddressModal(name, company, country, houseName, appartmentNumber, city, state, postcode, phone, email, addressId, isDefault) {

                var form = document.getElementById('editAddressForm');
                form.querySelector('#name').value = name;
                form.querySelector('#email').value = email;
                form.querySelector('#phone').value = phone;
                form.querySelector('#city').value = city;
                form.querySelector('#state').value = state;
                form.querySelector('#postcode').value = postcode;
                form.querySelector('#company').value = company;
                form.querySelector('#country').value = country;
                form.querySelector('#houseName').value = houseName
                form.querySelector('#appartment').value = appartmentNumber;
                form.querySelector('#addressId').value = addressId;


                var defaultCheckbox = form.querySelector('#isdefault');

                if (isDefault == "true") {
                    defaultCheckbox.checked = true;
                } else {
                    defaultCheckbox.checked = false
                }

                // Show the modal
                $('#editAddressModal').modal('show');
            }
        </script>


        <!-- -------------------DeleteAddress------------- -->
        <script>
            function showConfirmationModal(addressId) {
                $('#confirmationModal').data('addressId', addressId);
                $('#confirmationModal').modal('show');
            }

            function confirmDeleteAddress() {
                const addressId = $('#confirmationModal').data('addressId');

                fetch(`/account/deleteAddress`, {
                    method: 'DELETE',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ addressId })
                })
                    .then(response => response.json())
                    .then(result => {
                        console.log(result);

                        $('#addressTab').load('/account #addressTab', function () {
                            if (result.success) {
                                showNotification(result.message, true);
                            } else {
                                showNotification(result.message, false);
                            }
                        });
                    })
                    .catch(error => console.error('Error Deleting Address:', error));

                $('#confirmationModal').modal('hide');
            }
        </script>



        <!-- ------------------display USer Dp----------------- -->
        <script>
            function displayImage() {
                var fileInput = document.getElementById('fileInput');
                var profileImage = document.getElementById('profileImage');

                // Check if a file is selected
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {

                        profileImage.src = e.target.result;
                    };

                    // Read the data URL of the selected file
                    reader.readAsDataURL(fileInput.files[0]);
                }
            }
        </script>

        <!-- JavaScript Validation of EDIT USER -->
        <script>
            function validateForm(formId) {
                var form = document.getElementById(formId);


                var name = form.querySelector('#name');
                var email = form.querySelector('#email');
                var phone = form.querySelector('#phone');
                var nameError = form.querySelector('#nameError');
                var emailError = form.querySelector('#emailError');
                var phoneError = form.querySelector('#phoneError');

                // Regular expressions for validation
                var nameRegex = /^[A-Za-z\s]{4,}$/;
                var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                var phoneRegex = /^\d{10}$/;
                var countryRegex = /^\D*$/;

                // Validate Name
                if (!nameRegex.test(name.value)) {
                    nameError.textContent = 'Name should contain at least 4 letters and no digits.';
                    return false;
                } else {
                    nameError.textContent = '';
                }

                if (!emailRegex.test(email.value)) {
                    emailError.textContent = 'Invalid email format.';
                    return false;
                } else {
                    emailError.textContent = '';
                }

                if (!phoneRegex.test(phone.value)) {
                    phoneError.textContent = 'Phone should contain 10 digits.';
                    return false;
                } else {
                    phoneError.textContent = '';
                }


                if (formId === 'addressForm' || formId === 'editAddressForm') {
                    var postCodeRegex = /^\d{6}$/;
                    var country = form.querySelector('#country');
                    var postcode = form.querySelector('#postcode');
                    var postError = form.querySelector('#postcodeError');
                    var countryError = form.querySelector('#countryError');


                    if (!countryRegex.test(country.value)) {
                        countryError.textContent = 'Invalid country name';
                        return false;
                    } else {
                        countryError.textContent = '';
                    }

                    if (!postCodeRegex.test(postcode.value)) {
                        postError.textContent = 'It should only contain 6 digits';
                        return false;
                    } else {
                        postError.textContent = '';
                    }
                }

                return true;
            }

        </script>

        <!------------showing notification------------->
        <script>
            function showNotification(message, success = true) {
                const notificationContainer = document.getElementById('notification-container');
                notificationContainer.innerHTML = message;

                if (success) {
                    notificationContainer.style.color = 'green';
                } else {
                    notificationContainer.style.color = 'red';
                }

                notificationContainer.style.display = 'block';

                setTimeout(() => {
                    notificationContainer.style.display = 'none';
                }, 3000);
            }


            // ------------for Edit User-----------
            document.getElementById('editform').addEventListener('submit', async function (event) {
                event.preventDefault();

                if (!validateForm('editform')) {
                    return;
                }

                const form = event.target;
                const formData = new FormData(form);

                const response = await fetch(form.action, {
                    method: form.method,
                    body: formData,
                });

                const result = await response.json();

                if (result.success) {
                    showNotification(result.message, true);
                } else {
                    showNotification(result.message, false);
                }
            });

            // ------------for add address-----------
            $('#addressForm').submit(async function (event) {
                event.preventDefault();

                if (!validateForm('addressForm')) {
                    return;
                }

                const formData = new FormData(this);
                const formObj = Object.fromEntries(Array.from(formData.entries()));

                const defaultAddressCheckbox = $('#default');
                formObj.isDefault = defaultAddressCheckbox.prop('checked');

                try {
                    const response = await $.ajax({
                        url: '/account/addAddress',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formObj),
                    });

                    const result = response;

                    if (result.success) {
                        $('#addressTab').load('/account #addressTab', function () {
                            $('#addAddressModal').modal('hide');
                            showNotification(result.message, true);
                        });
                    } else {
                        $('#addressTab').load('/account #addressTab', function () {
                            $('#addAddressModal').modal('hide');
                            showNotification(result.message, false);
                        });
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            });


            //  ------For edit ADdress------
            $('#editAddressForm').submit(async function (event) {
                event.preventDefault();

                if (!validateForm('editAddressForm')) {
                    return;
                }

                const formData = new FormData(this);
                const formObj = Object.fromEntries(Array.from(formData.entries()));

                const defaultAddressCheckbox = $('#isdefault');
                console.log("Checkbox checked:", defaultAddressCheckbox.is(':checked'));
                formObj.isDefault = defaultAddressCheckbox.is(':checked');

                try {
                    const response = await $.ajax({
                        url: '/account/editAddress',
                        method: 'PATCH',
                        contentType: 'application/json',
                        data: JSON.stringify(formObj),
                    });

                    const result = response;

                    if (result.success) {
                        $('#addressTab').load('/account #addressTab', function () {
                            $('#editAddressModal').modal('hide');
                            showNotification(result.message, true);
                        });
                    } else {
                        $('#addressTab').load('/account #addressTab', function () {
                            $('#editAddressModal').modal('hide');
                            showNotification(result.message, false);
                        });
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            });

        </script>

        <!-- -----show date on orders------ -->
        <script>
            function formatDate(dateString) {
                const options = { year: 'numeric', month: 'long', day: 'numeric' };
                return new Date(dateString).toLocaleDateString('en-US', options);
            }
        </script>

        <%-include('../layouts/user/footer')-%>