<header id="header "
    class="navbar navbar navbar-expand-lg navbar-fixed navbar-height navbar-container navbar-bordered  justify-content-end" style="background-color: rgb(232 224 215);">
    <div class=" ">
        
        <div class="navbar-nav-wrap-content-end">
            <!-- Navbar -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!-- Account -->
                    <div class="dropdown">
                        <a class="navbar-dropdown-account-wrapper" href="javascript:;" id="accountNavbarDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"
                            data-bs-dropdown-animation>
                            <div class="avatar avatar-sm avatar-circle">
                                <img class="avatar-img" src="/assets/admin/img/160x160/img6.jpg"
                                    alt="Image Description">
                                <span class="avatar-status avatar-sm-status avatar-status-success"></span>
                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-menu navbar-dropdown-menu-borderless navbar-dropdown-account"
                            aria-labelledby="accountNavbarDropdown" style="width: 16rem;">
                            <div class="dropdown-item-text">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm avatar-circle">
                                        <img class="avatar-img" src="/assets/admin/img/160x160/img6.jpg"
                                            alt="Image Description">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <% if(typeof adminName !=='undefined' ){ %>
                                            <h5 class="mb-0">
                                                <%= adminName %>
                                            </h5>
                                            <% } %>
                                                <% if(typeof adminEmail !=='undefined' ){ %>
                                                    <p class="card-text text-body">
                                                        <%= adminEmail %>
                                                    </p>
                                                    <% } %>



                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                    <!-- End Account -->
                </li>
            </ul>
            <!-- End Navbar -->
        </div>
    </div>
</header>

<aside
    class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white  ">
    <div class="navbar-vertical-container">
        <div class="navbar-vertical-footer-offset" style="background-color: rrgb(242 242 242);">
            <!-- Logo -->

            <a class="d-flex p-0 m-0 justify-content-center" href="index.html" aria-label="Front">
                <img class="navbar-brand-logo" src="/assets/images/Frost-Bay logo.png" alt="Logo"
                    data-hs-theme-appearance="default">
                    <img class="navbar-brand-logo-mini" src="/assets/images/Frost-Bay logo.png" alt="Logo"
                    data-hs-theme-appearance="dark">
            </a>

           

            <!-- End Logo -->

            <!-- Navbar Vertical Toggle -->
            <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
                <i class="bi-arrow-bar-left navbar-toggler-short-align"
                    data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                    data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
                <i class="bi-arrow-bar-right navbar-toggler-full-align"
                    data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
                    data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
            </button>

            <!-- End Navbar Vertical Toggle -->

            <!-- Content -->
            <div class="navbar-vertical-content">
                <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav pt-0">
                    <!-- Collapse -->
                    <% if (typeof currentPath !=='undefined' ) { %>
                    <div class="nav-item">
                        <a class="nav-link <%= currentPath === '/admin/dashboard' ? 'active' : '' %>" href="/admin/dashboard">
                            <i class="bi-people nav-icon"></i>
                            <span class="nav-link-title">Dashboard</span>
                        </a>
                    </div>
                    <!-- End Collapse -->

                    <span class="dropdown-header mt-4">Actions</span>
                    <small class="bi-three-dots nav-subtitle-replacer"></small>

                    <!-- Collapse -->
                    <div class="navbar-nav nav-compact">

                    </div>
                    <div id="navbarVerticalMenuPagesMenu">
                        <!-- Collapse -->
                        <div class="nav-item">
                            <a class="nav-link <%= currentPath === '/admin/products' ? 'active' : '' %>" href="/admin/products">
                                <i class="bi-people nav-icon"></i>
                                <span class="nav-link-title">Cakes</span>
                            </a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link <%= currentPath === '/admin/users' ? 'active' : '' %>" href="/admin/users">
                                <i class="bi-people nav-icon"></i>
                                <span class="nav-link-title">Users</span>
                            </a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link <%= currentPath === '/admin/orders' ? 'active' : '' %>" href="/admin/orders">
                                <i class="bi-people nav-icon"></i>
                                <span class="nav-link-title">Orders</span>
                            </a>
                        </div>


                        <div class="nav-item">
                            <a class="nav-link <%= currentPath === '/admin/category' ? 'active' : '' %>" href="/admin/category">
                                <i class="bi-people nav-icon"></i>
                                <span class="nav-link-title">Category</span>
                            </a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link <%= currentPath === '/admin/coupons' ? 'active' : '' %>" href="/admin/coupons">
                                <i class="bi-people nav-icon"></i>
                                <span class="nav-link-title">Coupons</span>
                            </a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link <%= currentPath === '/admin/salesReport' ? 'active' : '' %>" href="/admin/salesReport">
                                <i class="bi-people nav-icon"></i>
                                <span class="nav-link-title">Sales reports</span>
                            </a>
                        </div>
                    </div>
                    <% } else { %>

                        <div class="nav-item">
                            <a class="nav-link " href="/admin/dashboard">
                                <i class="bi-people nav-icon"></i>
                                <span class="nav-link-title">Dashboard</span>
                            </a>
                        </div>
                        <!-- End Collapse -->
    
                        <span class="dropdown-header mt-4">Actions</span>
                        <small class="bi-three-dots nav-subtitle-replacer"></small>
    
                        <!-- Collapse -->
                        <div class="navbar-nav nav-compact">
    
                        </div>
                        <div id="navbarVerticalMenuPagesMenu">
                            <!-- Collapse -->
                            <div class="nav-item">
                                <a class="nav-link" href="/admin/products">
                                    <i class="bi-people nav-icon"></i>
                                    <span class="nav-link-title">Cakes</span>
                                </a>
                            </div>
    
                            <div class="nav-item">
                                <a class="nav-link" href="/admin/users">
                                    <i class="bi-people nav-icon"></i>
                                    <span class="nav-link-title">Users</span>
                                </a>
                            </div>
    
                            <div class="nav-item">
                                <a class="nav-link" href="/admin/orders">
                                    <i class="bi-people nav-icon"></i>
                                    <span class="nav-link-title">Orders</span>
                                </a>
                            </div>
    
    
                            <div class="nav-item">
                                <a class="nav-link " href="/admin/category">
                                    <i class="bi-people nav-icon"></i>
                                    <span class="nav-link-title">Category</span>
                                </a>
                            </div>
    
                            <div class="nav-item">
                                <a class="nav-link " href="/admin/coupons">
                                    <i class="bi-people nav-icon"></i>
                                    <span class="nav-link-title">Coupons</span>
                                </a>
                            </div>

                            <div class="nav-item">
                                <a class="nav-link " href="/admin/salesReport">
                                    <i class="bi-people nav-icon"></i>
                                    <span class="nav-link-title">Sales reports</span>
                                </a>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</aside>